<table id="table" class="table table-bordered table-striped" class="display"
       cellspacing="0" width="100%">
    <thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>STATUS</th>
        <th>LOJA</th>
        <th>ENDEREÇO LOJA</th>
        {#        <th>N° ENTREGAS</th>#}
        <th>VALOR TOTAL</th>
        {#        <th>COLETADO?</th>#}
        <th>HORA</th>
    </tr>
    </thead>
    <tbody>
    {% for pedido in pedidos %}
        <tr>
            <td>
                {% if not pedido.btn_finalizado %}
                    <a href="{% url 'route_pedido_view' pedido.pk %}" class="btn btn-info">
                        Ver Rota
                    </a>
                {% endif %}
            </td>
            <td>{{ pedido.id }}</td>
            <td>
                {% if pedido.is_complete %}
                    <label class="label label-success"><i
                            class=""></i>
                        ENTREGUE</label>
                {% else %}
                    <label class="label label-warning"><i
                            class=""></i> EM ANDAMENTO</label>
                {% endif %}
            </td>
            <td>
                {{ pedido.estabelecimento }}
            </td>
            <td>
                {{ pedido.estabelecimento.full_address }}
            </td>
            <td>
                R$ {{ pedido.valor_total }}
            </td>
            <td>{{ pedido.created_at|date:"d/m/Y G:i" }}</td>

        </tr>
        <script>
            $(document).ready(function () {
                $('#table').DataTable({
                    responsive: true,
                    order: [[1, "desc"]],
                    language: {
                        "emptyTable": "Nenhuma entrega realizada até o momento"
                    }
                });

            });
        </script>
    {% endfor %}
    </tbody>
</table>