{% extends 'admin/../base_painel.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <style>
        .message-item {
            margin-bottom: 25px;
            margin-left: 40px;
            position: relative;
        }

        .message-item .message-inner {
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 10px;
            position: relative;
        }

        .message-item .message-inner:before {
            border-right: 10px solid #ddd;
            border-style: solid;
            border-width: 10px;
            color: rgba(0, 0, 0, 0);
            content: "";
            display: block;
            height: 0;
            position: absolute;
            left: -20px;
            top: 6px;
            width: 0;
        }

        .message-item .message-inner:after {
            border-right: 10px solid #fff;
            border-style: solid;
            border-width: 10px;
            color: rgba(0, 0, 0, 0);
            content: "";
            display: block;
            height: 0;
            position: absolute;
            left: -18px;
            top: 6px;
            width: 0;
        }

        .message-item:before {
            background: #fff;
            border-radius: 2px;
            bottom: -30px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            content: "";
            height: 100%;
            left: -30px;
            position: absolute;
            width: 3px;
        }

        .message-item:after {
            background: #fff;
            border: 2px solid #ccc;
            border-radius: 50%;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            content: "";
            height: 15px;
            left: -36px;
            position: absolute;
            top: 10px;
            width: 15px;
        }

        .clearfix:before, .clearfix:after {
            content: " ";
            display: table;
        }

        .message-item .message-head {
            border-bottom: 1px solid #eee;
            margin-bottom: 8px;
            padding-bottom: 8px;
        }

        .message-item .message-head .avatar {
            margin-right: 20px;
        }

        .message-item .message-head .user-detail {
            overflow: hidden;
        }

        .message-item .message-head .user-detail h5 {
            font-size: 16px;
            font-weight: bold;
            margin: 0;
        }

        .message-item .message-head .post-meta {
            float: left;
            padding: 0 15px 0 0;
        }

        .message-item .message-head .post-meta > div {
            color: #333;
            font-weight: bold;
            text-align: right;
        }

        .post-meta > div {
            color: #777;
            font-size: 12px;
            line-height: 22px;
        }

        .message-item .message-head .post-meta > div {
            color: #333;
            font-weight: bold;
            text-align: right;
        }

        .post-meta > div {
            color: #777;
            font-size: 12px;
            line-height: 22px;
        }

    </style>

    <div class="box box-primary" style="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center style="font-size: 20px;">Pedido #{{ pedido.id }}</center>
                </h3>
            </div>
        </div>
        <!-- /.box-header -->
        <form class="form-horizontal" method="post"
              style="margin-top: 20px; margin-left: 15%;margin-right: 10% ">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <center><label>Valor Total </label></center>
                    </div>
                    <div class="col-xs-12">
                        <center><h3 style="margin-top: 0px;">R$ {{ pedido.valor_total }}</h3></center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="col-xs-12">
                            <center><label for="id_estabelecimento">Estabelecimento </label></center>
                        </div>
                        <div class="col-xs-12">
                            <center><h3 style="margin-top: 0px;">{{ pedido.estabelecimento.user.first_name }}</h3>
                            </center>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {#                        <div class="form-group">#}
                        {#                            <label for="id_percurso">Percurso: </label>#}
                        {#                            {{ pedido.percurso }}#}
                        {#                        </div>#}
                        <div class="col-xs-12">
                            <center><label for="id_percurso">N° Entregas</label></center>
                        </div>
                        <div class="col-xs-12">
                            <center><h3 style="margin-top: 0px;">{{ pedido.ponto_set.all|length }}</h3></center>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <center><label for="id_estabelecimento">Distancia </label></center>
                    </div>
                    <div class="col-xs-12">
                        <center><h3 style="margin-top: 0px;">
                            {% if pedido.distance %}
                                {{ pedido.distance|divide:1000|floatformat:1 }} KM
                            {% else %}
                                {{ pedido|calculate_distance|floatformat:1 }} KM
                            {% endif %}
                        </h3>
                        </center>
                    </div>
                </div>
                <hr/>
                {#                <div class="row">#}
                {#                    <center>#}
                {#                        <div class="col-xs-12">#}
                {#                            <a href="#" class="btn btn-primary">Ver Mapa</a>#}
                {#                        </div>#}
                {#                    </center>#}
                {#                </div>#}
                <br/>
                <div class="row">
                    <div class="qa-message-list" id="wallmessages">
                        <div class="message-item" id="m16">
                            <div class="message-inner">
                                <div class="message-head clearfix">
                                    <div class="user-detail">
                                        <h5 class="handle">{{ pedido.estabelecimento.endereco }}, {{ pedido.estabelecimento.numero }}, {{ pedido.estabelecimento.bairro }}</h5>
                                        <div class="post-meta">
                                            <div class="asker-meta">
                                                <span class="qa-message-who">
                                                    <span class="qa-message-who-pad">{{ pedido.estabelecimento.complemento }} </span>
											    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="qa-message-content">
                                    Buscar o pedido no estabelecimento {{ pedido.estabelecimento.user.first_name }}
                                </div>
                            </div>
                        </div>
                        {% for ponto in pedido.ponto_set.all %}
                            <div class="message-item" id="m16">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="user-detail">
                                            <h5 class="handle">{{ ponto.endereco }}, {{ ponto.numero }}, {{ ponto.bairro }}</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                <span class="qa-message-who">
                                                    <span class="qa-message-who-pad">{{ ponto.complemento }}</span>
											    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                        Entrega ao cliente {{ ponto.cliente }} - {{ ponto.observacoes }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- form start -->


            <div class=" box-footer form-group" style="margin-top: 35px;">

                <div class="col-md-8 col-md-offset-3">
                    <div class="row">

                        <div class="col-sm-4">
                            <a href="#" id="btn_cancelar" class="btn btn-default
                                 pull-left">Cancelar</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" id="btn_alterar"
                               class="btn btn-primary pull-right aceitar_corrida_{{ pedido.pk }}">Fazer Corrida</a>
                            <script>
                                $(document).ready(function () {
                                    $('.aceitar_corrida_{{ pedido.pk }}').click(function () {
                                        swal({
                                                title: "Deseja fazer a corrida ?",
                                                text: "Buscar o pedido na Loja {{ pedido.estabelecimento.user.first_name }},  localizado na {{ pedido.estabelecimento.endereco }}, {{ pedido.estabelecimento.numero }}, {{ pedido.estabelecimento.bairro }}. Valor da Entrega: {{ pedido.valor_total }}.",
                                                type: "warning",
                                                showCancelButton: true,
                                                confirmButtonClass: "btn-danger",
                                                confirmButtonText: "Confirmar Corrida",
                                                cancelButtonText: "Cancelar",
                                                closeOnConfirm: false
                                            },
                                            function (isConfirm) {
                                                if (isConfirm) {
                                                    swal({
                                                            title: "Confirmado!",
                                                            text: "Se tiver problemas ligue para a loja: {{ pedido.estabelecimento.phone }}",
                                                            type: "success",
                                                            confirmButtonClass: "btn-success",
                                                            confirmButtonText: "OK"
                                                        },
                                                        function () {
                                                            var url = "{% url 'accept_corrida' pedido.pk %}";
                                                            window.location.href = url;
                                                        });
                                                }
                                            });
                                    });

                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#pedidos').addClass('active');
            $('#btn_cancelar').click(function () {
                return window.history.back();
            });
        });
    </script>
    {% include 'includes/script_message_notify.html' %}

{% endblock %}