{% extends 'admin/../base_painel.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <style>
        .message-item {
            margin-bottom: 25px;
            margin-left: 40px;
            position: relative;
        }

        .message-item .message-inner {
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 10px;
            position: relative;
        }

        .message-item .message-inner:before {
            border-right: 10px solid #ddd;
            border-style: solid;
            border-width: 10px;
            color: rgba(0, 0, 0, 0);
            content: "";
            display: block;
            height: 0;
            position: absolute;
            left: -20px;
            top: 6px;
            width: 0;
        }

        .message-item .message-inner:after {
            border-right: 10px solid #fff;
            border-style: solid;
            border-width: 10px;
            color: rgba(0, 0, 0, 0);
            content: "";
            display: block;
            height: 0;
            position: absolute;
            left: -18px;
            top: 6px;
            width: 0;
        }

        .message-item:before {
            background: #fff;
            border-radius: 2px;
            bottom: -30px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            content: "";
            height: 100%;
            left: -30px;
            position: absolute;
            width: 3px;
        }

        .message-item:after {
            background: #fff;
            border: 2px solid #ccc;
            border-radius: 50%;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            content: "";
            height: 15px;
            left: -36px;
            position: absolute;
            top: 10px;
            width: 15px;
        }

        .clearfix:before, .clearfix:after {
            content: " ";
            display: table;
        }

        .message-item .message-head {
            border-bottom: 1px solid #eee;
            margin-bottom: 8px;
            padding-bottom: 8px;
        }

        .message-item .message-head .avatar {
            margin-right: 20px;
        }

        .message-item .message-head .user-detail {
            overflow: hidden;
        }

        .message-item .message-head .user-detail h5 {
            font-size: 16px;
            font-weight: bold;
            margin: 0;
        }

        .message-item .message-head .post-meta {
            float: left;
            padding: 0 15px 0 0;
        }

        .message-item .message-head .post-meta > div {
            color: #333;
            font-weight: bold;
            text-align: right;
        }

        .post-meta > div {
            color: #777;
            font-size: 12px;
            line-height: 22px;
        }

        .message-item .message-head .post-meta > div {
            color: #333;
            font-weight: bold;
            text-align: right;
        }

        .post-meta > div {
            color: #777;
            font-size: 12px;
            line-height: 22px;
        }

    </style>

    <div class="box box-primary" style="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center style="font-size: 20px;">Pedido #{{ pedido.id }}</center>
                </h3>
            </div>
        </div>
        <!-- /.box-header -->
        <form class="form-horizontal" method="post"
              style="margin-top: 20px; margin-left: 15%;margin-right: 10% ">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="col-xs-12">
                            <center><label>Data </label></center>
                        </div>
                        <div class="col-xs-12">
                            <center><h3 style="margin-top: 0px;">{{ pedido.created_at|date:"d/m/Y" }}</h3></center>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-12">
                            <center><label>Valor Total </label></center>
                        </div>
                        <div class="col-xs-12">
                            <center><h3 style="margin-top: 0px;">R$ {{ pedido.valor_total }}</h3></center>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="col-xs-12">
                            <center><label for="id_estabelecimento">Início </label></center>
                        </div>
                        <div class="col-xs-12">
                            <center><h3 style="margin-top: 0px;">{{ pedido.published_at|date:"G:i" }}</h3>
                            </center>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {#                        <div class="form-group">#}
                        {#                            <label for="id_percurso">Percurso: </label>#}
                        {#                            {{ pedido.percurso }}#}
                        {#                        </div>#}
                        <div class="col-xs-12">
                            <center><label for="id_percurso">Distância</label></center>
                        </div>
                        <div class="col-xs-12">
                            <center><h3 style="margin-top: 0px;">
                                {% if pedido.distance %}
                                    {{ pedido.distance|divide:1000|floatformat:1 }} KM
                                {% else %}
                                    {{ pedido|calculate_distance|floatformat:1 }} KM
                                {% endif %}
                            </h3></center>
                        </div>

                    </div>
                </div>
                <hr/>
                <div class="row">
                    <center>
                        <div class="col-xs-12">
                            <a href="{% url 'map_route_pedido_view' pedido.pk %}" class="btn btn-primary btn-block">Ver
                                Mapa</a>
                        </div>
                    </center>
                </div>
                <br/>
                <div class="row">
                    <div class="qa-message-list" id="wallmessages">
                        <div class="message-item" id="m16">
                            <div class="message-inner">
                                <div class="message-head clearfix">

                                    <div class="user-detail">
                                        <h5 class="handle">{{ pedido.estabelecimento.endereco }}, {{ pedido.estabelecimento.numero }}, {{ pedido.estabelecimento.bairro }}</h5>
                                        <div class="post-meta">
                                            <div class="asker-meta">
                                                <span class="qa-message-who">
                                                    <span class="qa-message-who-pad">{{ pedido.estabelecimento.complemento }} </span>
											    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="qa-message-content">
                                    Buscar o pedido no estabelecimento {{ pedido.estabelecimento.user.first_name }}
                                    <p>Telefone Loja: {{ pedido.estabelecimento.phone }}</p>
                                </div>
                                <div class="">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {% if pedido.coletado %}
                                                <label class="label label-success"><i
                                                        class=""></i>
                                                    COLETADO</label>
                                            {% else %}
                                                <label class="label label-warning"><i
                                                        class=""></i> NÃO COLETADO</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="waze://?ll={{ pedido.estabelecimento.lat }},{{ pedido.estabelecimento.lng }}&navigate=yes"
                                               class="btn btn-primary btn-block">Rota Waze</a>
                                        </div>
                                    </div>
                                    <!--<br/>-->
                                    <!--<div class="row">-->
                                    <!--    <div class="col-xs-12">-->
                                    <!--        <a href="waze://?ll={{ pedido.estabelecimento.lat }},{{ pedido.estabelecimento.lng }}&navigate=yes" class="btn btn-danger btn-block">Rota Google</a>-->
                                    <!--    </div>-->
                                    <!--</div>-->

                                </div>
                            </div>
                        </div>
                        {% for ponto in pedido.ponto_set.all %}
                            <div class="message-item" id="m16">
                                <div class="message-inner">
                                    <div class="message-head clearfix">

                                        <div class="avatar pull-left">Entrega: <h2>#{{ ponto.id }}</h2></div>

                                        <div class="user-detail">
                                            <h5 class="handle">{{ ponto.endereco }}, {{ ponto.numero }}, {{ ponto.bairro }}</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                <span class="qa-message-who">
                                                    <span class="qa-message-who-pad">{{ ponto.complemento }}</span>
											    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                        Entrega ao cliente {{ ponto.cliente }} - {{ ponto.observacoes }}
                                        <p>Telefone Cliente: {{ ponto.telefone }}</p>
                                    </div>
                                    <div class="">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                {% if ponto.status %}
                                                    <label class="label label-success"><i
                                                            class=""></i>
                                                        ENTREGUE</label>
                                                {% else %}
                                                    {% if pedido.coletado %}
                                                        <a href="#"
                                                           class='btn btn-danger btn-block fin_entrega_{{ ponto.id }}'>Finalizar</a>
                                                        <script>
                                                            $(document).ready(function () {
                                                                $('.fin_entrega_{{ ponto.id }}').click(function () {
                                                                    play('alert');
                                                                    swal({
                                                                        title: "Deseja marcar como concluido esta entrega?",
                                                                        text: 'Se este for seu ultimo ponto de entrega, não esqueça de finalizar o pedido por completo.',
                                                                        type: 'info',
                                                                        closeOnConfirm: false,
                                                                        showCancelButton: true,
                                                                        showLoaderOnConfirm: true
                                                                    }, function () {
                                                                        setTimeout(function () {
                                                                            window.location.href = '{% url 'finalizar_entrega' ponto.pk pedido.pk %}'
                                                                        }, 2000);
                                                                    });
                                                                });
                                                            });
                                                        </script>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            {% if pedido.coletado %}
                                                <div class="col-xs-12">
                                                    <a href="waze://?ll={{ ponto.lat }},{{ ponto.lng }}&navigate=yes"
                                                       class="btn btn-primary btn-block">Rota Waze</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <!--<br/>-->
                                        <!--<div class="row">-->
                                        <!--    <div class="col-xs-12">-->
                                        <!--        <a href="#" class="btn btn-danger btn-block">Rota Google</a>-->
                                        <!--    </div>-->
                                        <!--</div>-->

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- form start -->


            <div class=" box-footer form-group" style="margin-top: 35px;">

                <div class="row">
                    <div class='col-xs-8 col-xs-offset-2'>

                        {% if pedido.is_complete and not pedido.btn_finalizado %}
                            <a href="#" class="btn btn-danger btn-block finalizar_{{ pedido.id }}">Finalizar Rota</a>
                            <script>
                                $(document).ready(function () {
                                    $('.finalizar_{{ pedido.id }}').click(function () {
                                        play('alert');
                                        swal({
                                            title: "Concluir entrega deste pedido?",
                                            text: '',
                                            type: 'info',
                                            closeOnConfirm: false,
                                            showCancelButton: true,
                                            showLoaderOnConfirm: true
                                        }, function () {
                                            setTimeout(function () {
                                                window.location.href = '{% url 'finalizar_pedido' pedido.pk %}'
                                            }, 2000);
                                        });
                                    });
                                });
                            </script>
                        {% else %}
                            <a href="{% url 'entregas_motorista' %}" id="btn_cancelar"
                               class="btn btn-default btn-block">Voltar</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function showPosition(position) {
            var url = "{% url 'send_position_motorista' 99.9 88.8 %}".replace(99.9, position.coords.latitude).replace(88.8, position.coords.longitude);
            $.ajax({
                url: url,
                type: "GET", // http method
                success: function (data) {
                },
                complete: function () {
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        var apiGeolocationSuccess = function (position) {
            showPosition(position);
        };

        var tryAPIGeolocation = function () {
            jQuery.post("https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAnP_DnLEcdAnAhfCCHJyj2vGkj5Pbyg4U ", function (success) {
                apiGeolocationSuccess({coords: {latitude: success.location.lat, longitude: success.location.lng}});
            })
                .fail(function (err) {
                    console.log(err);
                    console.log("API Geolocation error! \n\n" + err);
                });
        };
        tryAPIGeolocation();
        $(document).ready(function () {
            $('#entregas').addClass('active');
            setInterval(function () {
                location.reload();
            }, 300000);
        });
    </script>
    {% include 'includes/script_message_notify.html' %}

{% endblock %}