{% extends 'admin/../base_painel.html' %}
{% load staticfiles %}


{% block content %}
    {% include 'loading.html' %}

    <div class="row">

        {% for entrega in entregas %}
            <div class="col-xs-6">
                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header
                            {% if entrega.is_prepared %}
                                 bg-green"
                    {% else %}
                         bg-red"
                    {% endif %}
                    >
                    <h2 class="widget-user-username">Entrega: {{ entrega.id }}</h2>
                    <h3 class="widget-user-desc">Rota: {{ entrega.pedido.id }}</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h4 class="">
                                {{ entrega.itens|safe }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left">
                                <i class="fa fa-user"></i> {{ entrega.cliente }}
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-phone"></i> {{ entrega.telefone }}
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-6">
                            {% if entrega.is_prepared %}
                                <a href="#"
                                   class="btn btn-info btn-lg btn-block disabled" disabled="disabled">Preparando ...</a>
                            {% else %}
                                <a href="{% url 'set_prepared_entrega' entrega.id %}"
                                   class="btn btn-info btn-lg btn-block">Preparar</a>

                            {% endif %}
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="btn btn-success btn-lg btn-block"
                                    {% if not entrega.pedido.motorista %}
                                        {% if not entrega.is_prepared or not entrega.pedido.motorista %}
                                            disabled="disabled"
                                        {% endif %}
                                        >Aguardando Motorista ...</a>
                                    {% else %}
                                        >Entregar</a>
                                    {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            </div>

        {% empty %}
            <div class="col-xs-6">
                <div class="box box-widget widget-user-2">

                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-yellow">
                        {#                        <h3 class="widget-user-username">Entrega: {{ entrega.id }}</h3>#}
                        {#                        <h5 class="widget-user-desc">Pedido: {{ entrega.pedido.id }}</h5>#}
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Não Há Entregas no momento...</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-left">
                                    <i class="fa fa-user"></i> {{ entrega.cliente }}
                                </div>
                                <div class="pull-right">
                                    <i class="fa fa-phone"></i> {{ entrega.telefone }}
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="btn btn-info btn-lg btn-block">Preparar</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" class="btn btn-success btn-lg btn-block">Entregar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cozinha').addClass('active');
            $('#body').addClass('sidebar-collapse');
        });
    </script>

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.add-row').addClass('btn btn-primary');
    </script>
    {% include 'includes/script_message_notify.html' %}

{% endblock %}
