{% extends 't_app/base.html' %}
{% load filters %}
{% load staticfiles %}

{% block content %}
    <div class="cart-page">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="section-title">Checkout</div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="checkout-payable">
                        <div class="cart-cp cart-total">
                            <div class="cp-left">Total</div>
                            <div class="cp-right">$ 29.00</div>
                        </div>
                        <div class="cart-cp cart-discount">
                            <div class="cp-left">Discount</div>
                            <div class="cp-right">- $ 10.00</div>
                        </div>
                        <div class="cart-cp cart-delivery">
                            <div class="cp-left">Delivery</div>
                            <div class="cp-right">$ 2.00</div>
                        </div>
                        <div class="cart-cp cart-total-payable">
                            <div class="cp-left">Total payable</div>
                            <div class="cp-right">$ 21.00</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <form class="col s12">
                    <div class="payment-method-wrap ck-box">
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <div class="payment-method-text">
                                    <i class="far fa-credit-card"></i> Payment method
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div style="margin: 0px 0px 10px">Choose your payment method :</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12 ">
                                <p>
                                    <input class="with-gap" name="group1" type="radio" id="test1"/>
                                    <label for="test1">Credit Card</label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12 ">
                                <p>
                                    <input class="with-gap" name="group1" type="radio" id="test2"/>
                                    <label for="test2">Paypal</label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12 ">
                                <p>
                                    <input class="with-gap" name="group1" type="radio" id="test3"/>
                                    <label for="test3">Direct Bank Transfer</label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12 ">
                                <p>
                                    <input class="with-gap" name="group1" type="radio" id="test4"/>
                                    <label for="test4">Check Payment</label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="billing-detail-wrap ck-box">
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <div class="payment-method-text">
                                    <i class="far fa-id-card"></i> Billing Detail
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div style="margin: 0px 0px 10px">Fill in the form your billing detail :</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <input id="billing-firstname" type="text" class="validate">
                                <label for="billing-firstname">First Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <input id="billing-lastname" type="text" class="validate">
                                <label for="billing-lastname">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <input id="billing-email" type="email" class="validate">
                                <label for="billing-email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <input id="billing-phone" type="tel" class="validate">
                                <label for="billing-phone">Phone</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <textarea id="billing-address" class="materialize-textarea"></textarea>
                                <label for="billing-address">Address</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="shipping-info-wrap ck-box">
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <div class="payment-method-text">
                                    <i class="fab fa-wpforms"></i> Shipping Information
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div style="margin: 0px 0px 10px">New shipping address :</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <input id="firstname" type="text" class="validate">
                                <label for="firstname">First Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <input id="info-lastname" type="text" class="validate">
                                <label for="info-lastname">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <input id="phone" type="tel" class="validate">
                                <label for="phone">Phone</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <input id="state" type="text" class="validate">
                                <label for="state">State/Country</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m12 l6 ">
                                <input id="town" type="text" class="validate">
                                <label for="town">Town/City</label>
                            </div>
                            <div class="input-field col s6 m12 l6 ">
                                <input id="zip" type="text" class="validate">
                                <label for="zip">Portalcode/ZIP</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12 ">
                                <textarea id="address" class="materialize-textarea"></textarea>
                                <label for="address">Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <br>
                            <p>
                                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked"/>
                                <label class="label-checkbox" for="filled-in-box"> I agree that i have read and accepted
                                    the <a href="#">terms & conditions</a></label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12 center">
                            <button class="btn theme-btn-rounded ">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
