{% extends 't_app/base.html' %}
{% load filters %}
{% load staticfiles %}

{% block content %}

    <div class="section product-item">
        <div class="container">
            <div class="row row-title">
                <div class="col s12">
                    <div class="section-title">
                        <span class="theme-secondary-color">Sua Praça de Alimentação</span> Online
                    </div>
                </div>
            </div>
            <div class="row row-no-margin">
                <!-- Product item-->
                {% for loja in lojas %}
                    {% if loja.configuration.has_loja_online %}
                        <div>
                            <a href="{% url 'view_loja_app' loja.id %}">
                                <div class="col s6 m4 l3 col-produc">
                                    <div class="box-product">
                                        <div class="bp-top">
                                            <div class="product-list-img">
                                                <div class="pli-one">
                                                    <div class="pli-two">
                                                        <a href="{% url 'view_loja_app' loja.id %}">
                                                            <img title="{{ loja.user.first_name }}"
                                                                 alt="{{ loja.user.first_name }}"
                                                                 src="{{ loja.photo }}">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h5>
                                                <a href="{% url 'view_loja_app' loja.id %}">{{ loja.user.first_name }}</a>
                                            </h5>
                                        </div>
                                        <div class="bp-bottom">
                                            <a href="{% url 'view_loja_app' loja.id %}" class="btn button-add-cart">Ver
                                                Loja</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for loja in lojas_off %}
                    {% if loja.configuration.has_loja_online %}
                        <div>
                            <a href="{% url 'view_loja_app' loja.id %}">
                                <div class="col s6 m4 l3 col-produc">
                                    <div class="box-product">
                                        <div class="bp-top">
                                            <div class="product-list-img">
                                                <div class="pli-one">
                                                    <div class="pli-two">
                                                        <img title="{{ loja.user.first_name }}"
                                                             alt="{{ loja.user.first_name }}"
                                                             src="{{ loja.photo }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <h5>
                                                <a href="{% url 'view_loja_app' loja.id %}">{{ loja.user.first_name }}</a>
                                            </h5>
                                        </div>
                                        <div class="bp-bottom">
                                            <a href="{% url 'view_loja_app' loja.id %}" class="btn button-add-cart">Ver
                                                Loja</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- SUBSCRIBE -->
{% endblock %}
