{% extends 't_app/base.html' %}
{% load filters %}
{% load staticfiles %}

{% block content %}
    <div id="product-image" class="pg-product-image">
        <!-- image -->
        <div>
            <div class="pgp-wrap-img">
                <div class="pgp-wrap-img-in">
                    <div class="pgp-img" style="background-image: url(img/cauliflower_PNG12682.jpg);">
                    </div>
                </div>
            </div>
        </div>
        <!-- end image -->
        <!-- image -->
        <div>
            <div class="pgp-wrap-img">
                <div class="pgp-wrap-img-in">
                    <div class="pgp-img" style="background-image: url(img/cauliflower_PNG12683.jpg);">
                    </div>
                </div>
            </div>
        </div>
        <!-- end image -->
        <!-- image -->
        <div>
            <div class="pgp-wrap-img">
                <div class="pgp-wrap-img-in">
                    <div class="pgp-img" style="background-image: url(img/cabbage_PNG8821.jpg);">
                    </div>
                </div>
            </div>
        </div>
        <!-- end image --></div>
    <div class="add-wish-lish">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="awl-btn">
                        <div class="awl-btn-icon">
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="name-price">
                    <div class="pg-product-name">Cabbage</div>
                    <div class="pg-product-price">$6.00</div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="desciption-product">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                </div>
            </div>
        </div>
    </div>
    <div class="qty-total-price">
        <div class="container">
            <div class="row">
                <div class="col s2">
                    <div class="qty-qty">Qty</div>
                </div>
                <div class="col s6">
                    <div class="qty-prc">
                        <div class="quantity">
                            <input type="number" min="1" max="9999" step="1" value="1"></div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="qty-buy">
                        <button class="btn button-add-cart">BUY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
