requests==2.9.1
dj-database-url==0.4.0
Django==1.9
gunicorn==19.4.5
psycopg2
whitenoise==2.0.6
flake8==2.5.0
coverage==4.0.2
pep8==1.6.2
pep8-naming==0.3.3
pyflakes==1.0.0
pylint==1.5.5
pylint-django==0.7.1
pyimgur
unittest-xml-reporting
jsmin
tblib
iso8601
selenium==2.53.6
django-ckeditor==5.0.3
pyfcm
pytz
