{% extends 'loja/base.html' %}
{% load staticfiles %}

{% load filters %}

{% block content %}
    <style>
        .bg-red {
            color: red;
            background-color: red;
            background: red;
        }

        .bg-green {
            color: green;
            background-color: green;
            background: green;
        }

        .bg-blue {
            color: dodgerblue;
            background-color: dodgerblue;
            background: dodgerblue;
        }
    </style>
    {#    {% include 'carrossel.html' %}#}
    <section class="bar background-white no-mb">
        <div class="container">
            <div class="heading text-center">
                <h3>Pedido #{{ pedido_obj.id }} em {{ pedido_obj.estabelecimento }}</h3>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-map-marker "></i></div>
                        <h1>Entrega</h1>
                        <h3>{{ pedido_obj.endereco_entrega }}</h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-clock-o"></i></div>
                        <h1>{{ pedido_obj.estabelecimento.configuration.tempo_de_entrega }} min</h1>
                        <h3>Tempo de Entrega</h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-credit-card"></i></div>
                        <h1>R$ {{ pedido_obj.valor_total|floatformat:2 }}</h1>
                        <h3>Pague com {{ pedido_obj.forma_pagamento }}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h4 class="box-title"><i class="fa fa-cutlery"></i> Meu Pedido</h4>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Produto</th>
                                                <th>Especificações</th>
                                                <th>Preço</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for itempedido in pedido_obj.itempedido_set.all %}
                                                <tr>
                                                    <td>{{ itempedido.produto.nome }}</td>
                                                    <td>(
                                                        {% for opc in itempedido.opcionalchoice_set.all %}
                                                            {{ opc.opcional.nome }},
                                                        {% empty %}
                                                            -
                                                        {% endfor %}
                                                        )
                                                    </td>
                                                    <td>R$ {{ itempedido.valor_total|floatformat:2 }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr class="subtotal">
                                                <th>Subtotal</th>
                                                <td></td>
                                                {% if pedido_obj %}
                                                    <th>R$ {{ pedido_obj.subtotal|floatformat:2 }}</th>
                                                {% endif %}
                                            </tr>
                                            <tr class="valor_entrega">
                                                <td>Valor da entrega</td>
                                                <td></td>
                                                {% if pedido_obj %}
                                                    <td id="valor_entrega">
                                                        R$ {{ pedido_obj.endereco_entrega.valor_entrega|floatformat:2 }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr class="total">
                                                <th>Total</th>
                                                <td></td>
                                                {% if pedido_obj %}
                                                    <th id="total">R$ {{ pedido_obj.valor_total|floatformat:2 }}</th>
                                                {% endif %}
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="box box-info">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    {% if pedido_obj.status_pedido == 'AGUARDANDO' %}
                                        <div class="box-simple box-dark same-height">
                                            <div class="icon"><i class="fa fa-fire"></i></div>
                                            <h1 style="color: white;">{{ pedido_obj.status_pedido }}</h1>
                                            <h3>Aguarde enquanto a loja processa seu pedido.</h3>
                                        </div>
                                    {% elif pedido_obj.status_pedido == 'ACEITO' %}
                                        <div class="box-simple box-dark same-height bg-blue" style="background: #0055aa;">
                                            <div class="icon"><i class="fa fa-fire"></i></div>
                                            <h1 style="color: white;">{{ pedido_obj.status_pedido }}</h1>
                                            <h3>Seu pedido foi aceito pela loja, aguarde o preparo.</h3>
                                        </div>
                                    {% elif pedido_obj.status_pedido == 'REJEITADO' %}
                                        <div class="box-simple box-dark same-height bg-red" style="background: #843534;">
                                            <div class="icon"><i class="fa fa-fire"></i></div>
                                            <h1 style="color: white;">{{ pedido_obj.status_pedido }}</h1>
                                            <h3>Seu pedido foi rejeitado pela loja.</h3>
                                        </div>
                                    {% elif pedido_obj.status_pedido == 'PREPARANDO' %}
                                        <div class="box-simple box-dark same-height bg-red" style="background: #aa5500;">
                                            <div class="icon"><i class="fa fa-fire"></i></div>
                                            <h1 style="color: white;">{{ pedido_obj.status_pedido }}</h1>
                                            <h3>Seu pedido já está sendo preparado.</h3>
                                        </div>
                                    {% elif pedido_obj.status_pedido == 'ENTREGANDO' %}
                                        <div class="box-simple box-dark bg-green same-height bg-green" style="background: #00a157">
                                            <div class="icon"><i class="fa fa-fire"></i></div>
                                            <h1 style="color: white;">{{ pedido_obj.status_pedido }}</h1>
                                            <h3>Seu pedido saiu para a entrega.</h3>
                                        </div>
                                    {% else %}
                                        <div class="box-simple box-dark same-height">
                                            <div class="icon"><i class="fa fa-fire"></i></div>
                                            <h1 style="color: white;">{{ pedido_obj.status_pedido }}</h1>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>
                            <hr/>
                            {% if pedido_obj.pedido.motorista %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="span3 well">
                                            <center>
                                                <h2><u>Motoboy</u></h2>
                                                <a href="#">
                                                    {% if motorista.photo %}
                                                        <img src="{{ pedido_obj.pedido.motorista.motorista.photo }}"
                                                             name="aboutme" width="140" height="140" class="img-circle">
                                                    {% else %}
                                                        <img src="{{ pedido_obj.pedido.motorista.motorista.photo }}"
                                                             name="aboutme" width="140" height="140" class="img-circle">

                                                    {% endif %}
                                                </a>
                                                <h3>{{ pedido_obj.pedido.motorista.first_name }}</h3>
                                                <h3>Placa: {{ pedido_obj.pedido.motorista.motorista.placa }}</h3>
                                                <h4>
                                                    <span><strong>Rotas Realizadas: {{ pedido_obj.pedido.motorista.pedido_set.all|length }}</strong></span>
                                                </h4>
                                                <p class="text-center">
                                                    <span><strong>Media Avaliacao: {{ pedido_obj.pedido.motorista.classification_set.all|soma_avaliacao|floatformat:2 }}</strong></span>
                                                </p>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                            {% else %}
                                <div class="row">
                                    {% if not pedido_obj.status_pedido == 'REJEITADO' %}
                                        <div class="col-xs-12">
                                            <div class="span3 well">
                                                <center>
                                                    <h2><u>Aguardando Motoboy...</u></h2>
                                                </center>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <hr/>
                            {% endif %}

                            <div class="row">
                                <div class="col-xs-12">
                                    <h1>{{ pedido_obj.estabelecimento.phone }}</h1>
                                    <p>Telefone da empresa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#pedidos').addClass('active');
            setTimeout(function () {
                window.location.href = ''
            }, 15000);
        });
    </script>

{% endblock %}