{% extends 'loja/base.html' %}
{% load staticfiles %}

{% load filters %}

{% block content %}
    <section class="bar background-white no-mb">
        <div class="container">
            <div class="heading text-center">
                <h3>Avaliação do Cliente</h3>
            </div>
            <form method="post" action="{% url 'add_avaliacao_cliente' %}">
                {% csrf_token %}
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="form-inline required">
                                <h5>Nota:</h5>
                                
                                <div class="form-group has-feedback">
                                    <label class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="nota" value="1"/>
                                    </span>
                                        <div class="form-control form-control-static">
                                            1
                                        </div>
                                        <span class="glyphicon form-control-feedback "></span>
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="nota" value="2"/>
                                    </span>
                                        <div class="form-control form-control-static">
                                            2
                                        </div>
                                        <span class="glyphicon form-control-feedback "></span>
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="nota" value="3"/>
                                    </span>
                                        <div class="form-control form-control-static">
                                            3
                                        </div>
                                        <span class="glyphicon form-control-feedback "></span>
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="nota" value="4"/>
                                    </span>
                                        <div class="form-control form-control-static">
                                            4
                                        </div>
                                        <span class="glyphicon form-control-feedback "></span>
                                    </label>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="nota" value="5"/>
                                    </span>
                                        <div class="form-control form-control-static">
                                            5
                                        </div>
                                        <span class="glyphicon form-control-feedback "></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h5>Comentário:</h5>
                            <textarea name="comentario" maxlength="300" rows="5" cols="80" required></textarea>
                            <input name="pedido" value="{{ pedido_obj.id }}" class="hidden"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">ENVIAR</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#pedidos').addClass('active');
        });
    </script>

{% endblock %}
