{% extends 'loja/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <style>
        .bg-red {
            color: red;
        {#background-color: red;#}
        }

        .bg-green {
            color: green;
        {#background-color: green;#}
        }
    </style>
    {#    {% include 'carrossel.html' %}#}
    <section class="bar background-white no-mb">
        <div class="container">
            <div class="heading text-center">
                <h2>Peça Comida Online!</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="row">
                        <div class="well well-sm text-center">
                            <div class="media">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <a class="thumbnail text-center" href="#">
                                            <img class="media-object" src="{{ loja.photo }}"
                                                 style="height: 150px; width: 150px;">
                                        </a>

                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="media-body text-center">
                                            <h2 class="media-heading">{{ loja.user.first_name }}</h2>
                                            <br/>
                                            <p>
                                                {% if loja.is_online %}
                                                    <a href="#" class="btn btn-xs btn-default">
                                                        <span class="fa fa-circle bg-green"></span> Online
                                                    </a>
                                                {% else %}
                                                    <a href="#" class="btn btn-xs btn-default">
                                                        <span class="fa fa-circle bg-red"></span> Offline
                                                    </a>
                                                {% endif %}
                                                <a href="#" class="btn btn-xs btn-default"><span
                                                        class="fa fa-cutlery"></span> {{ loja.configuration.tempo_de_entrega }}
                                                    min</a>
                                            </p>
                                            <p>
                                                <a href="#" class="btn btn-xs btn-default">
                                                    <span class="fa fa-star"></span> {{ loja|calcula_media_aval|floatformat:1 }}
                                                </a>
                                            </p>
                                            <p>
                                                <a href="#" class="btn btn-xs btn-default">
                                                    <span class="fa fa-fire"></span> {{ loja.request_set.all|length }}
                                                    Entregas Realizadas
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <ul class="nav nav-pills nav-fill">
                            {% for categoria in loja.categoria_set.all %}
                                <li><a href="#cat-{{ categoria.pk }}" data-toggle="tab"
                                       aria-expanded="true">{{ categoria.nome }}</a></li>
                            {% endfor %}
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            {% for cat in loja.categoria_set.all %}
                                {% if cat.produto_set.first %}
                                    <div class="tab-pane" id="cat-{{ cat.pk }}">
                                        <div class="row">
                                            {% for produto in cat.produto_set.all %}
                                                {% if produto.disponivel %}
                                                    <form method="post"
                                                          action="{% url 'add_cart' loja.id %}">{% csrf_token %}
                                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
                                                             style="margin-bottom: 50px;">
                                                            <a href="#p{{ produto.pk }}" data-toggle="modal"
                                                               data-target="#p{{ produto.pk }}">
                                                                <div class="thumbnail"
                                                                     style="height: 180px; width: 180px;">
                                                                    <img title="{{ produto.nome }}"
                                                                         alt="{{ produto.nome }}"
                                                                         src="{{ produto.fotoproduto_set.first }}"
                                                                         style="height: 170px; width: 170px;"
                                                                    />
                                                                    <div class="caption text-center">
                                                                        <h4>{{ produto.nome }}</h4>
                                                                        <p>R$ {{ produto.preco_base }}</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="modal fade" id="p{{ produto.pk }}" tabindex="-1"
                                                             role="dialog" aria-labelledby="exampleModalLabel"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header text-center">
                                                                        <input name="produto" value="{{ produto.id }}"
                                                                               class="hidden"/>
                                                                        <h3 class="modal-title">{{ produto.nome }}
                                                                            (R$ {{ produto.preco_base }})</h3>
                                                                        <button type="button" class="close fechar"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="row text-center">
                                                                            <div class="col-xs-12">
                                                                                <label><b>Descricao:</b></label>
                                                                                <p class="text-center">{{ produto.descricao }}</p>
                                                                            </div>
                                                                        </div>
                                                                        <hr/>
                                                                        {% for grupo in produto.grupo_set.all|order_by:'created_at' %}
                                                                            {% if grupo.disponivel %}
                                                                                <div class="row">
                                                                                    <div class="col-xs-12">
                                                                                        <label><b>{{ grupo.titulo }}
                                                                                            {% if grupo.obrigatoriedade %}
                                                                                                <b style="color: red;">*</b>
                                                                                            {% endif %}
                                                                                            :</b></label>

                                                                                        {% if grupo.tipo == 'radio' %}
                                                                                            {% for opcional in grupo.opcional_set.all|order_by:'created_at' %}
                                                                                                {% if opcional.disponivel %}
                                                                                                    <div class="checkbox">
                                                                                                        <label>
                                                                                                            <input type="checkbox"
                                                                                                                   name="checks"
                                                                                                                   data-limitador-{{ grupo.pk }}="{{ grupo.limitador }}"
                                                                                                                   data-value="{{ opcional.valor }}"
                                                                                                                   value="{{ opcional.id }}"
                                                                                                                   onclick="return keepcoun{{ grupo.pk }}t();">
                                                                                                            {{ opcional.nome }}
                                                                                                            ({% if opcional.descricao %}{{ opcional.descricao }}{% endif %} +R$ {{ opcional.valor }})
                                                                                                        </label>
                                                                                                    </div>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                            <script type="text/javascript">
                                                                                                function keepcoun{{ grupo.pk }}t() {
                                                                                                    var inputTags_{{ grupo.pk }} = $('input[data-limitador-{{ grupo.pk }}={{ grupo.limitador }}]');
                                                                                                    var total_{{ grupo.pk }} = 0;
                                                                                                    for (var i = 0; i < inputTags_{{ grupo.pk }}.length; i++) {

                                                                                                        if (inputTags_{{ grupo.pk }}[i].checked) {
                                                                                                            total_{{ grupo.pk }} = total_{{ grupo.pk }} + 1;
                                                                                                        }

                                                                                                        if (total_{{ grupo.pk }} > parseInt({{ grupo.limitador }})) {
                                                                                                            {% if grupo.limitador == '1' %}
                                                                                                                swal('Escolha apenas {{ grupo.limitador }} item', '', 'warning');
                                                                                                            {% else %}
                                                                                                                swal('Escolha apenas {{ grupo.limitador }} opcionais', '', 'warning');
                                                                                                            {% endif %}

                                                                                                            inputTags_{{ grupo.pk }}[i].checked = false;
                                                                                                            return false;
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            </script>
                                                                                        {% else %}
                                                                                            {% for opc in grupo.opcional_set.all|order_by:'created_at' %}
                                                                                                {% if opc.disponivel %}
                                                                                                    <div class="checkbox">
                                                                                                        <label>
                                                                                                            <input type="checkbox"
                                                                                                                   name="checks"
                                                                                                                   data-limitador-{{ grupo.pk }}="{{ grupo.limitador }}"
                                                                                                                   data-value="{{ opc.valor }}"
                                                                                                                   value="{{ opc.id }}"
                                                                                                                   onclick="return keepcoun{{ grupo.pk }}t();">
                                                                                                            {{ opc.nome }}
                                                                                                            ({% if opcional.descricao %}{{ opcional.descricao }}{% endif %} +R$ {{ opc.valor }})
                                                                                                        </label>
                                                                                                    </div>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                            <script type="text/javascript">
                                                                                                function keepcoun{{ grupo.pk }}t() {
                                                                                                    var inputTags_{{ grupo.pk }} = $('input[data-limitador-{{ grupo.pk }}={{ grupo.limitador }}]');
                                                                                                    var total_{{ grupo.pk }} = 0;
                                                                                                    for (var i = 0; i < inputTags_{{ grupo.pk }}.length; i++) {

                                                                                                        if (inputTags_{{ grupo.pk }}[i].checked) {
                                                                                                            total_{{ grupo.pk }} = total_{{ grupo.pk }} + 1;
                                                                                                        }

                                                                                                        if (total_{{ grupo.pk }} > parseInt({{ grupo.limitador }})) {
                                                                                                            swal('Escolha apenas {{ grupo.limitador }} opcionais', '', 'warning');
                                                                                                            inputTags_{{ grupo.pk }}[i].checked = false;
                                                                                                            return false;
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            </script>
                                                                                        {% endif %}
                                                                                    </div>

                                                                                </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        <hr/>
                                                                        <div class="row">
                                                                            <div class="col-xs-12">
                                                                            <textarea name="observacoes"
                                                                                      class="form-control"
                                                                                      placeholder="Observações"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <div class="pull-left">
                                                                            <h3>R$ <span
                                                                                    id="total_item_{{ produto.pk }}"></span>
                                                                            </h3>
                                                                            <script>
                                                                                $(document).ready(function () {
                                                                                    $('#total_item_{{ produto.pk }}').text('{{ produto.preco_base }}');
                                                                                    $('input').change(function () {
                                                                                        var total_calc_{{ produto.pk }} = parseFloat('' +{{ produto.preco_base }});
                                                                                        var all_{{ produto.pk }} = $("input:checked").map(function () {
                                                                                            return $(this).data('value');
                                                                                        });
                                                                                        for (i = 0; i < all_{{ produto.pk }}.length; i++) {
                                                                                            total_calc_{{ produto.pk }} = total_calc_{{ produto.pk }} + parseFloat(all_{{ produto.pk }}[i]);
                                                                                        }
                                                                                        $('#total_item_{{ produto.pk }}').text('' + total_calc_{{ produto.pk }});
                                                                                    })
                                                                                });
                                                                            </script>
                                                                        </div>
                                                                        <div class="pull-right">
                                                                            <button type="button" onclick="return "
                                                                                    class="btn btn-secondary fechar"
                                                                                    data-dismiss="modal">Fechar
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-danger">
                                                                                Adicionar
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}

                        </div>
                        <br/><br/>
                        <p>Todas as imagens são meramente ilustrativas.</p>
                        <script>
                            $(document).ready(function () {
                                var arr = [];
                                $('input').click(function () {
                                    arr.push($(this));
                                    console.log(arr);
                                });
                                $('.fechar').click(function (evt) {
                                    arr.forEach(function (el) {
                                        el.removeAttr('checked');
                                        el.change();
                                    });
                                });
                            })
                        </script>

                        <script>
                            $(document).ready(function () {
                                $('.tab-pane').first().addClass('active in');
                                $(".nav-pills>li").first().addClass('active');
                            });
                        </script>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div id="order-summary" class="box mt-0 mb-4 p-0">
                        <div class="box-header mt-0">
                            <h3>Meu Pedido</h3>
                        </div>
                        <p class="text-muted">Verifique abaixo seu itens no pedido</p>
                        <div class="table-responsive">
                            <table class="table table-responsive">
                                <tbody>
                                {% for itempedido in pedido_obj.itempedido_set.all %}
                                    <tr>
                                        <td>{{ itempedido.produto.nome }}</td>
                                        <td>
                                            <sup>
                                                (
                                                {% for opc in itempedido.opcionalchoice_set.all %}
                                                    {{ opc.opcional.nome }},
                                                {% empty %}
                                                    -
                                                {% endfor %}
                                                )
                                            </sup>
                                        </td>
                                        <th>R$ {{ itempedido.valor_total|floatformat:2 }}</th>
                                        <td>
                                            <a href="{% url 'delete_request' pedido_obj.pk %}"><i
                                                    class="fa fa-close"></i></a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>Seu carrinho está vazio</td>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                <tr class="total">

                                    <td>Total</td>
                                    {% if pedido_obj %}
                                        <th>R$ {{ pedido_obj.valor_total|floatformat:2 }}</th>
                                    {% else %}
                                        <th>R$ 0.00</th>
                                    {% endif %}
                                    <td></td>
                                    <td></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'finaliza_pedido' %}" class="btn btn-danger
                                                {% if not loja.is_online or not pedido_obj.itempedido_set.first %}
                                                disabled
                                                {% endif %}
                                                "
                                        {% if not loja.is_online or not pedido_obj.itempedido_set.first %}
                                   disabled="disabled"
                                        {% endif %}
                                >Finalizar Compra</a>
                            </div>
                        </div>
                    </div>
                    {% if loja.endereco_completo %}
                        <div class="box box mt-0 mb-4 p-0">
                            <div class="box-header mt-0">
                                <h4>Localização</h4>
                            </div>
                            <p class="text-muted">
                                <iframe
                                        width="355"
                                        height="350"
                                        frameborder="0" style="border:0"
                                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD8_UGcYzrtFvXMk541STGt6Vfy9VJPcs4&q={{ loja.endereco_completo }}"
                                        allowfullscreen>
                                </iframe>


                            </p>
                            <p>{{ loja.endereco_completo }}</p>
                        </div>
                    {% endif %}
                    {% if loja.formaentrega_set.first %}
                        <div class="box box mt-0 mb-4 p-0">
                            <div class="box-header mt-0">
                                <h4>Entrega</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    {% for ent in loja.formaentrega_set.all %}
                                        <tr>
                                            <td>{{ ent.forma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}

                    {% if loja.formapagamento_set.first %}
                        <div class="box box mt-0 mb-4 p-0">
                            <div class="box-header mt-0">
                                <h4>Formas de Pagamento</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    {% for forma in loja.formapagamento_set.all %}
                                        {% if forma.forma == 'DINHEIRO' %}
                                            <tr>
                                                <td>{{ forma.forma }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>{{ forma.forma }} - {{ forma.cartao }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#inicio').addClass('active');
        });
    </script>

{% endblock %}