{% extends 'base_painel.html' %}
{% load staticfiles %}

{% block content %}
{#    {% include 'loading.html' %}#}

    <div class="box box-primary" style="margin-top: 30px;">
        <div class="box-header">
            <h3 class="box-title">
                <center style="font-size: 20px;">Adicionar</center>
            </h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="" method="post">{% csrf_token %}
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ form.as_p }}
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class=" box-footer ">
                <a href="#" id="btn_cancelar" class="btn btn-default pull-left">Voltar</a>
                <button type="submit" id="btn_salvar" class="btn btn-primary pull-right">Salvar
                </button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#btn_salvar').click(function () {
                if ($("select").filter(function () {
                        return $.trim($(this).val()).length == 0
                    }).length == 0) {
                    $('form').submit();
                } else {
                    swal('Preencha todos os campos', 'Verifique se preencheu todos os campos', 'error');
                }
            });

            $('#entrega').addClass('active');
            $('#btn_cancelar').click(function () {
                return window.history.back();
            });
        });
    </script>

{% endblock %}
