{% extends 'base_painel.html' %}
{#{% load filters %}#}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOTA</th>
                                        <th>CLIENTE</th>
                                        <th>COMENTARIO</th>
                                        <th>CRIADO EM</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for classificacao in classificacoes %}
                                        <tr>
                                            <td>
                                                {{ classificacao.id }}
                                            </td>
                                            <td>
                                                {{ classificacao.nota }}
                                            </td>
                                            <td>
                                                {{ classificacao.cliente }}
                                            </td>
                                            <td>{{ classificacao.comentario }}</td>
                                            <td>
                                                {{ classificacao.created_at|date:"d/m/Y G:i" }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                responsive: true,
                order: [[0, "desc"]]
            });
            $('#classificacao').addClass('active');
        });

    </script>

{% endblock %}