{% extends 'base_painel.html' %}
{% load staticfiles %}

{% block content %}
    {#    {% include 'loading.html' %}#}
    <form action="" method="post">{% csrf_token %}
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="text-center">
                        <h3>Você realmente deseja deletar "{{ object }}" ?</h3>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <button id="btn_cancelar" type="button" class="btn btn-default btn-lg btn-block">Cancelar</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-danger btn-lg btn-block">Deletar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grupo').addClass('active');
            $('#btn_cancelar').click(function () {
                return window.history.back();
            });
        });
    </script>
{% endblock %}