<nav>
        <!-- SIDENAV CATEGORY-->
        <ul id="nav-mobile-category" class="side-nav">
            <li class="sidenav-logo">
                <i class="fa fa-leaf" aria-hidden="true"></i> Focus Delivery
            </li>
            <li>
                <div class="search-wrapper ">
                    <input id="search"><i class="material-icons">search</i>
                    <div class="search-results"></div>
                </div>
            </li>
            <li>
                <a href="#"><i class="fas fa-plus"></i> Healthy food</a>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Vegetables <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="../product-list.html"><i
                                            class="fas fa-angle-right"></i>Cabbage</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="../product-list.html"><i
                                            class="fas fa-angle-right"></i>Corn</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="../product-list.html"><i
                                            class="fas fa-angle-right"></i>Potato</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="../product-list.html"><i
                                            class="fas fa-angle-right"></i>Carrot</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="../product-list.html"><i class="fas fa-plus"></i>Fruits</a>
            </li>
            <li>
                <a href="../product-list.html"><i class="fas fa-plus"></i>Breads</a>
            </li>
            <li>
                <a href="../product-list.html"><i class="fas fa-plus"></i>Berries</a>
            </li>
            <li>
                <a href="../product-list.html"><i class="fas fa-plus"></i>Herbs</a>
            </li>
            <li>
                <a href="../product-list.html"><i class="fas fa-plus"></i>Meat & seafood</a>
            </li>
            <li>
                <a href="../product-list.html"><i class="fas fa-plus"></i>Natural & organic</a>
            </li>
            <li>
                <a href="../product-list.html"><i class="fas fa-plus"></i>Snacks</a>
            </li>
            <li>
                <a href="../product-list.html"><i class="fas fa-plus"></i>Milk products</a>
            </li>
        </ul>
        <!-- END SIDENAV CATEGORY-->
        <!-- SIDENAV ACCOUNT-->
        <ul id="nav-mobile-account" class="side-nav">
            <li class="profile">
                <div class="li-profile-info">
                    <h2>Jane Doe</h2>
                    <div class="emailprofile">Janedoe@maildomain.com</div>
                    <div class="balance">
                        Balance : <span>$1200</span>
                    </div>
                </div>
            </li>
            <li>
                <a class="waves-effect waves-blue" href="#"><i class="fas fa-home"></i>Home</a>
            </li>
            <li>
                <a href="../wish-list.html"><i class="fas fa-heart"></i>Wish list</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-camera-retro"></i>Gallery</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-cog"></i>Setting</a>
            </li>
            <li>
                <a href="{% url 'logout_app' %}"><i class="fas fa-sign-out-alt"></i>Log Out</a>
            </li>
        </ul>
    <!-- END SIDENAV ACCOUNT-->
</nav>
