{% load filters %}
<script>
    $(document).ready(function () {
        {% if notificacao.type_message == 'NOVO_PEDIDO' %}
            {% if notificacao.pedido %}
                play('alert');
                swal({
                    title: "ALERTA!",
                    text: '{{ notificacao.message }}',
                    type: 'warning',
{#                    showCancelButton: true,#}
{#                    confirmButtonClass: "btn-danger",#}
                    confirmButtonText: "Aceitar",
{#                    cancelButtonText: "Rejeitar",#}
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    showLoaderOnConfirm: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        window.location.href = '{% url 'aceitar_pedido' notificacao.pedido.id %}';
                    }
                });
            {% endif %}
        {% endif %}
    });
</script>
