{% load filters %}
<script>
    $(document).ready(function () {
        {% if notificacao.type_message == 'NOVO_PEDIDO' %}
            {% if notificacao.pedido %}
                play('alert');
                swal({
                    title: "ALERTA!",
                    text: '{{ notificacao.message }}',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Aceitar",
                    cancelButtonText: "Rejeitar",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        swal({
                            title: 'Confirmado',
                            text: "Vamos chamar um motoboy e alertar a cozinha",
                            type: 'success',
                            confirmButtonText: "OK",
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }, function () {
                            setTimeout(function () {
                                window.location.href = '{% url 'aceitar_pedido' notificacao.pedido.id %}'
                            }, 1000);
                        });
                    } else {
                        swal({
                            title: 'Pedido Cancelado',
                            text: "Vamos notificar o cliente",
                            type: 'error',
                            confirmButtonText: "OK",
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }, function () {
                            setTimeout(function () {
                                window.location.href = '{% url 'rejeitar_pedido' notificacao.pedido.id %}'
                            }, 1000);
                        });
                    }
                });
            {% endif %}
        {% endif %}
    });
</script>
