{% extends 'app_template/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="wishlist-page">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="section-title">
                        <span class="theme-secondary-color">Consultas</span> Agendadas
                    </div>
                </div>
            </div>
            <div class="box-wish-list">
                <!-- item -->
                {% for consulta in consultas %}
                    <div class="row wish-item">
                        <div class="col s12">
                            <div class="wish-box">

                                    <div class="wi-name">
                                        <div class="win-top">
                                            <div class="win-title">Especialista: {{ consulta.especialista }}</div>
                                            <div class="win-price">{{ consulta.data }}</div>
                                            <div class="win-info">{{ consulta.local }} - {{ consulta.cidade }}</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="wi-remove">
                                    <a href="#"><i class="far fa-times-circle"></i></a>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </div>

                {% empty %}
                    <div class="text-center">
                        <br/><br/>
                        <h4 class="text-center"> Não há consultas agendadas.</h4>
                    </div>
                {% endfor %}

                <!-- end item -->
            </div>
        </div>
        {% if consultas %}
            <!-- PAGINATION -->
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#!"><i class="material-icons">chevron_left</i></a>
                            </li>
                            <li class="active">
                                <a href="#!">1</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!">2</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!">3</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!">4</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!">5</a>
                            </li>
                            <li class="waves-effect">
                                <a href="#!"><i class="material-icons">chevron_right</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAGINATION -->
        {% endif %}

    </div>
{% endblock %}
