{% extends 'entrega/admin/base_dash.html' %}
{% load filters %}
{% load staticfiles %}

{% block content %}

    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'plugins/leaflet-routing-machine/dist/leaflet-routing-machine.css' %}"/>
    <style>
        .leaflet-control-container .leaflet-routing-container-hide {
            display: none;
        }
    </style>


    <div class="row">
        <div class="col-md-4">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-check-square-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Motoristas Online</span>
                    <span class="info-box-number">{{ motoristas_online|length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-location-arrow"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Motoristas Ocupados</span>
                    <span class="info-box-number">{{ motoristas_ocupados|length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-rocket"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Motoristas Livres</span>
                    <span class="info-box-number">{{ motoristas_livres|length }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    </hr>
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">Replicar Catalogo:</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <form action="{% url 'copiar_catalogo' %}" method="GET">
                            <div class="col-md-5">
                                <label>Origem:</label>
                                <select class="form-control" name="origem" id="origem">
                                    {% for estab in lojas %}
                                        <option value="{{ estab.id }}">{{ estab.user.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-5">
                                <label>Destino:</label>
                                <select class="form-control" name="destino" id="destino">
                                    {% for estabel in lojas %}
                                        <option value="{{ estabel.id }}">{{ estabel.user.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <br/>
                                <button type="submit" class="btn btn-default btn-flat">Copiar!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr/>
            <h4 class="box-title">Deletar Catalogo:</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <form action="{% url 'deletar_catalogo' %}" method="GET">
                            <div class="col-md-8">
                                <label>Origem:</label>
                                <select class="form-control" name="origem" id="origem">
                                    {% for estab in lojas %}
                                        <option value="{{ estab.id }}">{{ estab.user.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <br/>
                                <button type="submit" class="btn btn-danger btn-flat">Deletar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </hr>
{##}
{#    <div class="box box-default">#}
{#        <div class="box-header">#}
{#            <h3 class="box-title">Replicar Grupo:</h3>#}
{#        </div>#}
{#        <div class="box-body">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="row">#}
{#                        <form action="{% url 'copiar_grupo' %}" method="GET">#}
{#                            <div class="col-md-5">#}
{#                                <label>Grupo Origem:</label>#}
{#                                <select class="form-control" name="grupo" id="grupo">#}
{#                                    {% for grupo in grupos %}#}
{#                                        <option value="{{ grupo.id }}">ID: {{ grupo.identificador }} / Titulo: {{ grupo.titulo }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="col-md-5">#}
{#                                <label>Produto Destino:</label>#}
{#                                <select class="form-control" name="produto" id="produto">#}
{#                                    {% for prod in produtos %}#}
{#                                        <option value="{{ prod.id }}">{{ prod.nome }} - {{ prod.categoria.estabelecimento }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="col-md-2">#}
{#                                <br/>#}
{#                                <button type="submit" class="btn btn-default btn-flat">Copiar!</button>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <hr/>#}
{#            <h4 class="box-title">Deletar Grupo:</h4>#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="row">#}
{#                        <form action="{% url 'deletar_grupo' %}" method="GET">#}
{#                            <div class="col-md-8">#}
{#                                <label>Grupo:</label>#}
{#                                <select class="form-control" name="grupo" id="grupo">#}
{#                                    {% for grupo in grupos %}#}
{#                                        <option value="{{ grupo.id }}">ID: {{ grupo.identificador }} - {{ grupo.titulo }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="col-md-2">#}
{#                                <br/>#}
{#                                <button type="submit" class="btn btn-danger btn-flat">Deletar</button>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <hr/>#}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Rotas do Mês</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>LOJA</th>
                                        <th>MOTORISTA</th>
                                        <th>VALOR ENTREGA</th>
                                        <th>CRIADO EM</th>
                                        <th>N° ENTREGAS</th>
                                        <th>STATUS</th>
                                        <th>AVALIACAO</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pedido in pedidos_do_mes %}
                                        <tr>
                                            <td>
                                                <a data-toggle="modal"
                                                   href="#modal_{{ pedido.id }}"> {{ pedido.id }}</a>

                                                <div class="modal fade" role="dialog" id="modal_{{ pedido.id }}">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;
                                                                </button>
                                                                <center><h3>Rota #{{ pedido.id }}</h3></center>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="tab-content">
                                                                    <center>
                                                                        <div class="tab-pane active" id="about">
                                                                            {% if pedido.estabelecimento.photo %}
                                                                                <img src="{{ pedido.estabelecimento.photo }}"
                                                                                     name="aboutme" width="140"
                                                                                     height="140" border="0"
                                                                                     class="img-circle">
                                                                            {% else %}
                                                                                <img src="{% static 'img/300.png' %}"
                                                                                     name="aboutme" width="140"
                                                                                     height="140" border="0"
                                                                                     class="img-circle">
                                                                            {% endif %}
                                                                            <h3 class="media-heading">
                                                                                Inicio:
                                                                                {{ pedido.published_at|date:"G:i" }}
                                                                                <small>
                                                                                    Criado:
                                                                                    {{ pedido.created_at|date:"d/m/Y" }}</small>
                                                                            </h3>
                                                                            <span><strong>Valor Entrega: R$ {{ pedido.valor_total }}</strong></span>
                                                                            <!--</center>-->
                                                                            <hr>
                                                                            <center>
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <div class="qa-message-list"
                                                                                             id="wallmessages">
                                                                                            <div class="message-item"
                                                                                                 id="m16">
                                                                                                <div class="message-inner">
                                                                                                    <div class="message-head clearfix">
                                                                                                        {% if pedido.coletado %}
                                                                                                            <div class="pull-right">
                                                                                                                <label class="label label-success"><i
                                                                                                                        class=""></i>
                                                                                                                    COLETADO</label>
                                                                                                            </div>
                                                                                                        {% else %}
                                                                                                            <div class="pull-right">
                                                                                                                <label class="label label-warning"><i
                                                                                                                        class=""></i>NÃO
                                                                                                                    COLETADO</label>
                                                                                                            </div>

                                                                                                        {% endif %}


                                                                                                        <div class="user-detail">
                                                                                                            <h5 class="handle">{{ pedido.estabelecimento.endereco }}, {{ pedido.estabelecimento.numero }}, {{ pedido.estabelecimento.bairro }}</h5>
                                                                                                            <div class="post-meta">
                                                                                                                <div class="asker-meta">
                                                                                                            <span class="qa-message-who">
                                                                                                                <span class="qa-message-who-pad">{{ pedido.estabelecimento.complemento }} </span>
                                                            											    </span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="qa-message-content">
                                                                                                        Buscar o pedido
                                                                                                        no
                                                                                                        estabelecimento {{ pedido.estabelecimento.user.first_name }}
                                                                                                        <p>Telefone
                                                                                                            Loja: {{ pedido.estabelecimento.phone }}</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            {% for ponto in pedido.ponto_set.all %}
                                                                                                <div class="message-item"
                                                                                                     id="m16">
                                                                                                    <div class="message-inner">
                                                                                                        <div class="message-head clearfix">
                                                                                                            {% if ponto.status %}
                                                                                                                <div class="pull-right">
                                                                                                                    <label class="label label-success"><i
                                                                                                                            class=""></i>
                                                                                                                        ENTREGUE</label>
                                                                                                                </div>
                                                                                                            {% else %}
                                                                                                                <div class="pull-right">
                                                                                                                    <label class="label label-warning"><i
                                                                                                                            class=""></i>EM
                                                                                                                        ANDAMENTO</label>
                                                                                                                </div>

                                                                                                            {% endif %}
                                                                                                            <div class="avatar pull-left">
                                                                                                                Entrega:
                                                                                                                <h2>
                                                                                                                    #{{ ponto.id }}</h2>
                                                                                                            </div>

                                                                                                            <div class="user-detail">
                                                                                                                <h5 class="handle">{{ ponto.endereco }}, {{ ponto.numero }}, {{ ponto.bairro }}</h5>
                                                                                                                <div class="post-meta">
                                                                                                                    <div class="asker-meta">
                                                                                                            <span class="qa-message-who">
                                                                                                                <span class="qa-message-who-pad">{{ ponto.complemento }}</span>
                                                            											    </span>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="qa-message-content">
                                                                                                            Entrega ao
                                                                                                            cliente {{ ponto.cliente }}
                                                                                                            - {{ ponto.observacoes }}
                                                                                                            <p>Telefone
                                                                                                                Cliente: {{ ponto.telefone }}</p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            {% endfor %}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </center>
                                                                        </div>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">Fechar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ pedido.estabelecimento }}</td>
                                            <td>
                                                <a data-toggle="modal"
                                                   href="#modaln_{{ pedido.id }}"> {{ pedido.motorista.first_name }}</a>

                                                <div class="modal fade" role="dialog" id="modaln_{{ pedido.id }}">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;
                                                                </button>
                                                                <center><h3>Sobre {{ pedido.motorista.first_name }}</h3>
                                                                </center>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="tab-content">
                                                                    <center>
                                                                        <div class="tab-pane active" id="about">
                                                                            {% if pedido.motorista.motorista.photo %}
                                                                                <img src="{{ pedido.motorista.motorista.photo }}"
                                                                                     name="aboutme" width="140"
                                                                                     height="140" border="0"
                                                                                     class="img-circle">
                                                                            {% else %}
                                                                                <img src="{% static 'img/300.png' %}"
                                                                                     name="aboutme" width="140"
                                                                                     height="140" border="0"
                                                                                     class="img-circle">
                                                                            {% endif %}
                                                                            <h3 class="media-heading">{{ pedido.motorista.first_name }}
                                                                                <small> {{ pedido.motorista.motorista.placa }}</small>
                                                                            </h3>
                                                                            <span><strong>Rotas Entregues: {{ pedido.motorista.pedido_set.all|length }}</strong></span>
                                                                            <!--</center>-->
                                                                            <hr>
                                                                            <center>
                                                                                <p class="text-center">
                                                                                    <strong>Telefone: </strong><br>
                                                                                    {{ pedido.motorista.motorista.phone }}
                                                                                </p>
                                                                                <br>
                                                                                <p class="text-center">
                                                                                    <span><strong>Media Avaliacao:
                                                                                        {{ pedido.motorista.classification_set.all|soma_avaliacao|floatformat:2 }}</strong></span>
                                                                                </p>
                                                                            </center>
                                                                        </div>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">Fechar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>
                                                <a href="#modal_{{ pedido.id }}">R$ {{ pedido.valor_total }} </a>
                                            </td>
                                            <td>{{ pedido.created_at|date:"d/m/Y G:i" }}</td>
                                            <td>
                                                {{ pedido.ponto_set.all|length }}
                                            </td>
                                            <td>
                                                {% if pedido.is_complete %}
                                                    <label class="label label-success"><i
                                                            class=""></i>
                                                        ENTREGUE</label>
                                                {% elif not pedido.is_complete and not pedido.status %}
                                                    <label class="label label-info"><i
                                                            class=""></i>
                                                        EM ANDAMENTO</label>
                                                {% elif not pedido.is_complete and pedido.status %}
                                                    <label class="label label-warning"><i
                                                            class=""></i>
                                                        PENDENTE</label>
                                                {% endif %}
                                                {% if pedido.coletado %}
                                                    <label class="label label-success"><i
                                                            class=""></i>COLETADO</label>
                                                {% else %}
                                                    <label class="label label-warning"><i
                                                            class=""></i>NÃO COLETADO</label>
                                                {% endif %}
                                            </td>
                                            <td>{{ pedido.classification_set.last.nota }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                responsive: true,
                order: [[0, "desc"]]
            });
            $('#dashboard').addClass('active');
        });

    </script>

{% endblock %}