{% extends 'base_painel.html' %}
{#{% load filters %}#}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <a href="{% url 'add_pagamento' %}" class="btn btn-primary">Adicionar</a>
                </div>
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>FORMA</th>
                                        <th>CARTAO</th>
                                        <th>CRIADO EM</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for forma in formas %}
                                        <tr>
                                            <td>
                                                {{ forma.id }}
                                            </td>
                                            <td>
                                                {{ forma.forma }}
                                            </td>
                                            <td>
                                                {{ forma.cartao }}
                                            </td>
                                            <td>
                                                {{ forma.created_at|date:"d/m/Y G:i" }}
                                            </td>
                                            <td>
                                                <a href="{% url 'edit_pagamento' forma.pk %}"> <i class="fa fa-eye"></i></a>
                                            </td>
                                            <td>
                                                <a href="{% url 'delete_pagamento' forma.pk %}"> <i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                responsive: true,
                order: [[0, "desc"]]
            });
            $('#pagamento').addClass('active');
        });

    </script>

{% endblock %}