{% extends 'admin/../base_painel.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'loading.html' %}

    <div class="box box-primary" style="margin-top: 30px;">
        <div class="box-header">
            <h3 class="box-title">
                <center style="font-size: 20px;">Adicionar Rota</center>
            </h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="" method="post">{% csrf_token %}
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div style="display: none;">
                            {{ form.estabelecimento }}
                        </div>
                        <table class="table">
                            {{ pontoset.management_form }}

                            {% for form in pontoset.forms %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tr class="formset_row">
                                    {% for field in form.visible_fields %}
                                        <td>
                                            {# Include the hidden fields in the form #}
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ field.errors.as_ul }}
                                            {{ field }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <center>Salvar como Rascunho: {{ form.is_draft }}</center>
                        <br/>
                        <center><p style="font-size: 13px;">AO SALVAR COMO RASCUNHO, ESTA ROTA NAO SERA ENVIADA PARA
                            OS MOTORISTAS, E ELES NAO SERAO NOTIFICADOS</p></center>
                    </div>
                    <script src="{% static 'js/jquery.formset.js' %}"></script>
                    <script type="text/javascript">
                        $('.formset_row').formset({
                            addText: 'Adicionar Entrega',
                            deleteText: 'Remover',
                            prefix: 'ponto_set'
                        });
                    </script>
                </div>
            </div>
            <!-- /.box-body -->
            <div class=" box-footer ">
                <a href="#" id="btn_cancelar" class="btn btn-default pull-left">Voltar</a>
                <button type="submit" id="btn_salvar" class="btn btn-primary pull-right">Finalizar Pedido
                </button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").inputmask();
            $('#body').addClass('sidebar-collapse');
            $('#pedidos').addClass('active');
            $('[name=estabelecimento]').hide();
            $('#btn_cancelar').click(function () {
                return window.history.back();
            });
            $("[name=estabelecimento]").attr("required", "false");
            $('.numero').inputmask('99999');
            $('.telefone').inputmask('(99) [9]99999999');
            $('.add-row').click(function () {
                $(":input").inputmask();
                $('.numero').inputmask('99999');
                $('.telefone').inputmask('(99) [9]99999999');
            });
        });
    </script>

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.add-row').addClass('btn btn-primary');
    </script>
    {% include 'includes/script_message_notify.html' %}

{% endblock %}
