{% extends 'base_painel.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <a href="{% url 'add_pedido' %}" class="btn btn-primary">Adicionar Pedido</a>
                </div>
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>CRIADO EM</th>
                                        <th>N° ENTREGAS</th>
                                        <th>MOTORISTA</th>
                                        <th>VALOR</th>
                                        <th>ENTREGUE?</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pedido in pedidos %}
                                        <tr>
                                            <td> {{ pedido.id }}</td>
                                            <td>{{ pedido.created_at|date:"d/m/Y G:i" }}</td>
                                            <td>
                                                {{ pedido.ponto_set.all|length }}
                                            </td>
                                            <td>
                                                {{ pedido.motorista.first_name }}
                                            </td>
                                            <td>
                                               R$ {{ pedido.valor_total }}
                                            </td>
                                            <td>
                                                {% if pedido.is_complete %}
                                                    <label class="label label-success"><i
                                                            class=""></i>
                                                        ENTREGUE</label>
                                                {% else %}
                                                    <label class="label label-warning"><i
                                                            class=""></i> EM ANDAMENTO</label>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if pedido.is_complete %}
                                                {% else %}
                                                <a class="btn btn-danger cancel_{{ pedido.id }}" href="#">
                                                    Cancelar Pedido
                                                </a>
                                                <script>
                                                    $(document).ready(function(){
                                                        $('.cancel_{{ pedido.id }}').click(function(){
                                                            play('alert');  
                                                            swal({
                                                                title: "ALERTA!",
                                                                text: 'Você realmente vai cancelar este pedido?',
                                                                type: 'warning',
                                                                showCancelButton: true,
                                                                closeOnConfirm: false,
                                                                showLoaderOnConfirm: true
                                                            }, function () {
                                                                setTimeout(function () {
                                                                    window.location.href = '{% url 'delete_pedido' pedido.pk %}'
                                                                }, 2000);
                                                                });
                                                            });
                                                    });
                                                </script>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
             $('#table').DataTable({
                responsive: true,
                order: [[ 1, "desc" ]]
            });
            setInterval(function () {
                location.reload();
            }, 60000);
            $('#pedidos').addClass('active');
        });

    </script>

{% endblock %}