{% extends 'admin/../base_painel.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>


    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap"
                         id="example1_wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="map" style="height: 400px;"></div>
                            </div>
                            <div class="col-md-6">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>NOME</th>
                                        <th>TELEFONE</th>
                                        <th>PEDIDO</th>
                                        <th>N° ENTREGAS</th>
                                        <th>VALOR TOTAL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pedido in pedidos %}
                                        <tr>
                                            <td>
                                                <a data-toggle="modal"
                                                   href="#modal_{{ pedido.id }}"> {{ pedido.motorista.first_name }}</a>

                                                <div class="modal fade" role="dialog" id="modal_{{ pedido.id }}">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;</button>
                                                                <center><h3>Sobre {{ pedido.motorista.first_name }}</h3>
                                                                </center>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="tab-content">
                                                                    <center>
                                                                        <div class="tab-pane active" id="about">
                                                                            {% if pedido.motorista.motorista.photo %}
                                                                                <img src="{{ pedido.motorista.motorista.photo }}"
                                                                                     name="aboutme" width="140"
                                                                                     height="140" border="0"
                                                                                     class="img-circle">
                                                                            {% else %}
                                                                                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                                                                                     name="aboutme" width="140"
                                                                                     height="140" border="0"
                                                                                     class="img-circle">
                                                                            {% endif %}
                                                                            <h3 class="media-heading">{{ pedido.motorista.first_name }}
                                                                                <small> {{ pedido.motorista.motorista.placa }}</small>
                                                                            </h3>
                                                                            <span><strong>Pedidos Entregues: {{ pedido.motorista.pedido_set.all|length }}</strong></span>
                                                                            <!--</center>-->
                                                                            <hr>
                                                                            <center>
                                                                                <p class="text-center">
                                                                                    <strong>Telefone: </strong><br>
                                                                                    {{ pedido.motorista.motorista.phone }}
                                                                                </p>
                                                                                <br>
                                                                            </center>
                                                                        </div>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">Fechar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ pedido.motorista.motorista.phone }}</td>
                                            <td>
                                                {{ pedido.id }}
                                            </td>
                                            <td>
                                                {{ pedido.ponto_set.all|length }}
                                            </td>
                                            <td>
                                                R$ {{ pedido.valor_total }}
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" box-footer text-center">
                    <center><a href="#" id="btn_cancelar" class="btn btn-default">Voltar</a></center>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([-7.2400091, -35.9080677], 13);
        ;

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiY2Fpb21hcmluaG84IiwiYSI6ImNpZ2RzdHR3cTJ2aHZ2OW04cnc5YTBiengifQ.oDcflEacffSkQxXd6RiQ2A'
        }).addTo(map);

        {% for p in pedidos %}
            {% if p.motorista %}
                icon = L.divIcon({className: 'fa fa-motorcycle fa-2x'});
                L.marker([{{ p.motorista.location_set.last.lat }}, {{ p.motorista.location_set.last.lng }}], {icon: icon}).bindPopup("Pedido #{{ p.id }}").addTo(map);
                //  var circle = L.circle([{{ p.motorista.location_set.last.lat }},
                {{ p.motorista.location_set.last.lng }}], {
                //     color: 'red',
                //     fillColor: '#f03',
                //     fillOpacity: 0.5,
                //     radius: 10
                // }).bindPopup("Pedido #{{ p.id }}").addTo(map);
            {% endif %}

        {% endfor %}

        $(document).ready(function () {
            $('#table').DataTable({
                responsive: true,
            });
            setInterval(function () {
                location.reload();
            }, 50000);
            $('#motoristas_ativos').addClass('active');
        });


    </script>
    {% include 'includes/script_message_notify.html' %}


{% endblock %}