{% extends 'base_painel.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>


    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap"
                         id="example1_wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        var EPSG4326 = 'EPSG:4326';
        var EPSG3857 = 'EPSG:3857';
        var view = new ol.View({
            center: [-3996978.7595446003, -805517.7167901094],
            zoom: 14
        });

        // inicializa um Tile (estilo do mapa) OSM: Open Street Map, pode ser Bing, GoogleMaps, etc..
        var raster = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        // Inicializa um Vector que carrega as Features no Mapa.
        source = new ol.source.Vector({
            features: {}
        });
        /*
         inicializa um outro Vector que carrega o source com as features, e adiciona
         o estilo ao ponteiro do mouse no Mapa.
         */
        var vector = new ol.layer.Vector({
            source: source,
            style: new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(153, 204, 255, 0.125)'
                }),
                stroke: new ol.style.Stroke({
                    color: '#99ccff',
                    width: 2
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: '#99ccff'
                    })
                })
            })
        });

        {#        var map = new ol.Map({#}
        {#            layers: [#}
        {#                new ol.layer.Tile({#}
        {#                    source: new ol.source.OSM()#}
        {#                })#}
        {#            ],#}
        {#            target: 'map',#}
        {#            controls: ol.control.defaults({#}
        {#                attributionOptions: {#}
        {#                    collapsible: false#}
        {#                }#}
        {#            }),#}
        {#            view: view#}
        {#        });#}

        map = new ol.Map({
            layers: [raster, vector],
            target: 'map',
            controls: ol.control.defaults({
                attributionOptions: {
                    collapsible: false
                }
            }),
            view: view
        });

        /**
         * Geolocation.
         */

        var geolocation = new ol.Geolocation({
            projection: view.getProjection()
        });

        function el(id) {
            return document.getElementById(id);
        }

        geolocation.setTracking(true);

        // update the HTML page when the position changes.
        geolocation.on('change', function () {
            var coordinates = geolocation.getPosition();
            console.log(coordinates);
            {#            $.ajax({#}
            {#                url: "/my-position/" + coordinates[0] + "/" + coordinates[1],#}
            {#                type: "GET", // http method#}
            {#                beforeSend: function () {#}
            {#                    $('#loading').show();#}
            {#                },#}
            {#                success: function (data) {#}
            {#                    alert('sucesso');#}
            {#                },#}
            {#                complete: function () {#}
            {#                    $('#loading').hide();#}
            {#                }#}
            {#            });#}
        });

        // handle geolocation error.
        geolocation.on('error', function (error) {
            var info = document.getElementById('info');
            info.innerHTML = error.message;
            info.style.display = '';
        });

        var accuracyFeature = new ol.Feature();
        geolocation.on('change:accuracyGeometry', function () {
            accuracyFeature.setGeometry(geolocation.getAccuracyGeometry());
        });

        var positionFeature = new ol.Feature();
        positionFeature.setStyle(new ol.style.Style({
            image: new ol.style.Circle({
                radius: 6,
                fill: new ol.style.Fill({
                    color: '#3399CC'
                }),
                stroke: new ol.style.Stroke({
                    color: '#fff',
                    width: 1
                })
            })
        }));

        geolocation.on('change:position', function () {
            var coordinates = geolocation.getPosition();
            positionFeature.setGeometry(coordinates ?
                new ol.geom.Point(coordinates) : null);
        });

        new ol.layer.Vector({
            map: map,
            source: new ol.source.Vector({
                features: [accuracyFeature, positionFeature]
            })
        });


        /**
         * Desenha um ponto.
         */
        {#    pointFeature = new ol.Feature({#}
        {#        geometry: new ol.geom.Point([-3996978.7595446003, -805517.7167901094])#}
        {#    });#}
        {##}
        {#    pointFeature.setStyle(new ol.style.Style({#}
        {#        image: new ol.style.Circle({#}
        {#            radius: 6,#}
        {#            fill: new ol.style.Fill({#}
        {#                color: '#3399CC'#}
        {#            }),#}
        {#            stroke: new ol.style.Stroke({#}
        {#                color: '#fff',#}
        {#                width: 1#}
        {#            })#}
        {#        })#}
        {#    }));#}
        {#    source.addFeature(pointFeature);#}
        {#    map.getView().fitExtent(source.getExtent(), map.getSize());#}

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#inicio').addClass('active');
        });

    </script>
    <!-- /.row -->

{% endblock %}