{% extends 'base_painel.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="/static/plugins/leaflet-routing-machine/dist/leaflet-routing-machine.css"/>
    <style>
        .leaflet-control-container .leaflet-routing-container-hide {
            display: none;
        }
    </style>
    {#    <link rel="stylesheet" href="/static/plugins/leaflet/leaflet.css"/>#}
    {#    <link rel="stylesheet" href="/static/plugins/leaflet-routing-machine/dist/leaflet-routing-machine.css"/>#}
    {#    <script src="/static/plugins/leaflet/leaflet.js"></script>#}
    {#    <script src="/static/plugins/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>#}
    {#    <script src="/static/plugins/leaflet-routing-machine/examples/Control.Geocoder.js"></script>#}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap"
                         id="example1_wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="map" style="height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" box-footer text-center">
                    <center><a href="#" id="btn_cancelar" class="btn btn-default">Voltar</a></center>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="/static/plugins/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="/static/plugins/leaflet-routing-machine/examples/Control.Geocoder.js"></script>
    {#    <script src="/static/plugins/leaflet-routing-machine/examples/config.js"></script>#}
    {#    <script src="/static/plugins/leaflet-routing-machine/examples/index.js"></script>#}
    <script>
        var map = L.map('map');
        //
        // L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        // 	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        // }).addTo(map);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiY2Fpb21hcmluaG84IiwiYSI6ImNpZ2RzdHR3cTJ2aHZ2OW04cnc5YTBiengifQ.oDcflEacffSkQxXd6RiQ2A'
        }).addTo(map);

        var control = L.Routing.control(L.extend({
            waypoints: [
                {% if pedido.estabelecimento.lat %}
                    L.latLng({{ pedido.estabelecimento.lat }}, {{ pedido.estabelecimento.lng }}),
                {% endif  %}
                
                {% for point in pedido.ponto_set.all %}
                    {% if point.lat %}
                        L.latLng({{ point.lat }}, {{ point.lng }}),
                    {% endif %} 
                {% empty %}

                {% endfor %}
            ],
            geocoder: L.Control.Geocoder.nominatim(),
            routeWhileDragging: true,
            reverseWaypoints: true,
            showAlternatives: true,
            altLineOptions: {
                styles: [
                    {color: 'black', opacity: 0.15, weight: 9},
                    {color: 'white', opacity: 0.8, weight: 6},
                    {color: 'blue', opacity: 0.5, weight: 2}
                ]
            },
            waypointNameFallback: function (latLng) {
                function zeroPad(n) {
                    n = Math.round(n);
                    return n < 10 ? '0' + n : n;
                }

                function sexagesimal(p, pos, neg) {
                    var n = Math.abs(p),
                        degs = Math.floor(n),
                        mins = (n - degs) * 60,
                        secs = (mins - Math.floor(mins)) * 60,
                        frac = Math.round((secs - Math.floor(secs)) * 100);
                    return (n >= 0 ? pos : neg) + degs + '°' +
                        zeroPad(mins) + '\'' +
                        zeroPad(secs) + '.' + zeroPad(frac) + '"';
                }

                return sexagesimal(latLng.lat, 'N', 'S') + ' ' + sexagesimal(latLng.lng, 'E', 'W');
            }
        })).addTo(map);

        L.Routing.errorControl(control).addTo(map);
        control.hide();
        
        function getPosition() {
            var url = "/get-location/"+{{ pedido.motorista.id }};
            $.ajax({
                url: url,
                type: "GET", // http method
                success: function (data) {
                    icon = L.divIcon({className: 'fa fa-motorcycle fa-2x'});
                    L.marker([data.lat, data.lng],{icon: icon}).addTo(map);
                },
                complete: function () {
                },
                error: function (err) {
                    console.log(err);
                }
            }); 
        }
        getPosition();
        
        $('#pedidos').addClass('active');
    
        window.setInterval(function () {
            getPosition();
        }, 5000);
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#pedidos').addClass('active');
            $('#btn_cancelar').click(function () {
                return window.history.back();
            });
        });

    </script>
    <!-- /.row -->

{% endblock %}