{% extends 'base_painel.html' %}
{% load staticfiles %}

{% block content %}

    <div class="box box-primary" style="margin-top: 30px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center style="font-size: 20px;">Visualização Auditoria</center>
                </h3>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post"
              style="margin-top: 20px; margin-left: 15%;margin-right: 10% ">
            <div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Receptor: </label>
                    {{ object.new_owner }}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Doador: </label>
                    {{ object.donor }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Item: </label>
                    {{ object.item }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Status: </label>
                    {{ object.is_deferred }}
                </div>
            </div>
            <!-- /.box-body -->

            <div class=" box-footer form-group" style="margin-top: 35px;">

                <div class="col-md-8 col-md-offset-3">
                    <div class="row">

                        <div class="col-sm-4">
                            <a href="{% url "audits_panel" %}" id="btn_cancelar" class="btn btn-default
                                 pull-left">Voltar</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url 'change_audit' object.pk %}" id="btn_alterar"
                               class="btn btn-primary pull-right">Alterar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#audits').addClass('active');
        });
    </script>

{% endblock %}