{% extends 'base_painel.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>DATA</th>
                                        <th>TIPO</th>
                                        <th>MENSAGEM</th>
                                        <th>STATUS</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for notificacao in notificacoes %}
                                        <tr>
                                            <td>{{ notificacao.id }}</td>
                                            <td>{{ notificacao.created_at|date:"d/m/Y G:i" }}</td>
                                            <td>
                                                {% if notificacao.type_message == 'NOVO_PEDIDO' %}
                                                    <label class="label label-info"><i
                                                            class=""></i>
                                                        NOVO PEDIDO</label>
                                                {% elif notificacao.type_message == 'DELETE_LOJA' %}
                                                    <label class="label label-warning"><i
                                                            class=""></i>
                                                        CANCELAMENTO</label>

                                                {% elif notificacao.type_message == 'CANCEL_ORDER' %}
                                                    <label class="label label-warning"><i
                                                            class=""></i>
                                                        CANCELAMENTO</label>
                                                        
                                                {% elif notificacao.type_message == 'ORDER_DELIVERED' %}
                                                    <label class="label label-info"><i
                                                            class=""></i>
                                                        ENTREGA</label>
                                                {% elif notificacao.type_message == 'ADMIN_MESSAGE' %}
                                                    <label class="label label-warning"><i
                                                            class=""></i>
                                                        ADMIN</label>

                                                {% elif notificacao.type_message == 'ACCEPT_ORDER' %}
                                                    <label class="label label-default"><i
                                                            class=""></i>
                                                        PEDIDO ACEITO</label>

                                                {% elif notificacao.type_message == 'ENABLE_ROTA' %}
                                                    <label class="label label-info"><i
                                                            class=""></i>
                                                        ROTA</label>
                                                {% elif notificacao.type_message == 'ALL_DELIVERED' %}
                                                    <label class="label label-success"><i
                                                            class=""></i>
                                                        PEDIDO ENTREGUE</label>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ notificacao.message }}
                                            </td>
                                            <td>
                                                <a href="">
                                                    {% if notificacao.is_read %}
                                                        <label class="label label-success"><i
                                                                class=""></i>
                                                            LIDO</label>
                                                    {% else %}
                                                        <label class="label label-warning"><i
                                                                class=""></i> NÃO LIDO</label>
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                responsive: true,
                order: [[ 1, "desc" ]]
            });
            setInterval(function () {
                location.reload();
            }, 60000);
            $('#notificacoes').addClass('active');
        });

    </script>

{% endblock %}