<script>
    $(document).ready(function () {
        {% if notificacao.type_message == 'NOVO_PEDIDO' %}
            {#            play('alert');#}
            {#            swal({#}
            {#                title: "Um novo pedido foi cadastrado!",#}
            {#                text: '{{ notificacao.message }}',#}
            {#                type: 'success',#}
            {#                closeOnConfirm: false,#}
            {#                confirmButtonClass: 'btn-primary',#}
            {#                showLoaderOnConfirm: true#}
            {#            }, function () {#}
            {#                setTimeout(function () {#}
            {#                    window.location.href = '{% url 'pedidos_motorista' %}'#}
            {#                }, 2000);#}
            {#            });#}
        {% elif notificacao.type_message == 'DELETE_LOJA' %}
            play('alert');
            swal({
                title: "ALERTA!",
                text: '{{ notificacao.message }}',
                type: 'warning',
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function () {
                setTimeout(function () {
                    window.location.href = '{% url 'pedidos_motorista' %}'
                }, 2000);
            });
        {% elif notificacao.type_message == 'ACCEPT_ORDER' %}
            play('alert');
            swal({
                title: "Motorista a caminho!",
                text: '{{ notificacao.message }}',
                type: 'success',
                confirmButtonClass: 'btn-primary',
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function () {
                setTimeout(function () {
                    window.location.href = window.location.href;
                }, 1000);
            });

        {% elif notificacao.type_message == 'ALL_DELIVERED' %}
            play('alert');
            swal({
                title: "Motorista finalizou a Rota!",
                text: '{{ notificacao.message }}',
                type: 'success',
                closeOnConfirm: true,
                confirmButtonClass: 'btn-primary',
                showLoaderOnConfirm: true
            });

        {% elif notificacao.type_message == 'ORDER_DELIVERED' %}
            play('alert');
            swal({
                title: "Motorista finalizou uma entrega!",
                text: '{{ notificacao.message }}',
                type: 'success',
                closeOnConfirm: true,
                confirmButtonClass: 'btn-primary',
                showLoaderOnConfirm: true
            });

        {% elif notificacao.type_message == 'ADMIN_MESSAGE' %}
            swal({
                title: "ALERTA!",
                text: '{{ notificacao.message }}',
                type: 'warning',
                closeOnConfirm: true,
                confirmButtonClass: 'btn-primary',
                showLoaderOnConfirm: true
            });
        {% elif notificacao.type_message == 'LOJA_MESSAGE' %}
            play('alert');
            swal("Mensagem!", "A Loja lhe enviou uma mensagem, va para o CHAT.", "warning");
        {% elif notificacao.type_message == 'MOTORISTA_MESSAGE' %}
            play('alert');
            swal("Mensagem!", "O Motorista lhe enviou uma mensagem, va para o CHAT.", "warning");
        {% elif notificacao.type_message == 'ENABLE_ROTA' %}
            play('alert');
            swal({
                title: "Rota gerada!",
                text: '{{ notificacao.message }}',
                type: 'warning',
                closeOnConfirm: false,
                confirmButtonClass: 'btn-primary',
                showLoaderOnConfirm: true
            }, function () {
                setTimeout(function () {
                    window.location.href = '{% url 'pedidos_motorista' %}'
                }, 1000);
            });
        {% endif %}
    });
</script>
