<table id="table" class="table table-bordered table-striped" class="display"
       cellspacing="0" width="100%">
    <thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>CRIADO AS</th>
        <th>ESTABELECIMENTO</th>
        <th>N° ENTREGAS</th>
        <th>VALOR TOTAL</th>
    </tr>
    </thead>
    <tbody>
    {% for pedido in pedidos %}
        <tr>
            <td>
                {% if pedido.status and user.motorista.ocupado == False %}
                    <a href="{% url 'order_pedido_view' pedido.pk %}" class="btn btn-primary">
                        Ver Corrida
                    </a>
                {% endif %}

            </td>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.created_at|date:"d/m/Y G:i" }}</td>
            <td>
                {{ pedido.estabelecimento }}
            </td>
            <td>
                {{ pedido.ponto_set.all|length }}
            </td>
            <td>
                R$ {{ pedido.valor_total }}
            </td>
        </tr>

    {% endfor %}
    </tbody>

    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                responsive: true,
                order: [[1, "desc"]],
                language: {
                    "emptyTable": "Nenhum pedido realizado até o momento"
                }
            });
        });
    </script>
</table>