{% extends 'admin/base_painel.html' %}
{% load staticfiles %}

{% block content %}
    
    <section class="content-header">
      <h1>
        404 Error Page
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">404 error</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina nao encontrada.</h3>
            
            {% if user.motorista %}
                <p>
                    Não conseguimos encontrar a página que estava procurando.
                    Enquanto isso, você pode <a href="{% url 'pedidos_motorista' %}s"> retornar ao painel de controle </a> ou tentar usar o formulário de pesquisa.
                </p>
            {% else %}
                <p>
                    Não conseguimos encontrar a página que estava procurando.
                    Enquanto isso, você pode <a href="{% url 'pedidos_estabelecimento' %}"> retornar ao painel de controle </a> ou tentar usar o formulário de pesquisa.
                </p>
            {% endif %}
          

          <form class="search-form">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn_cancelar').click(function () {
                return window.history.back();
            });
        });
    </script>

{% endblock %}