{% load staticfiles %}

<section class="no-mb">

    <div class="jumbotron">

        <div class="dark-mask"></div>

        <div class="container">
            <div class="row mb-small">
                <div class="col-sm-12 text-center">
                    <h1>Olá, somos a Delivery Channel</h1>
                    <h2>Juntos formamos uma rede de transformação comercial</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-small">
                    <img class="img-responsive" src="{% static 'img/template-mac.png' %}" alt="">
                </div>

                <div class="col-sm-6 text-center-xs">
                    <p><a href="#" class="scroll-to btn btn-template-transparent-black">Começar Agora</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!-- *** JUMBOTRON END *** -->
</section>