{% extends 'base_dash.html' %}
{% load filters %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'plugins/leaflet-routing-machine/dist/leaflet-routing-machine.css' %}"/>
    <style>
        .leaflet-control-container .leaflet-routing-container-hide {
            display: none;
        }
    </style>
    {#    <link rel="stylesheet" href="/static/plugins/leaflet/leaflet.css"/>#}
    {#    <link rel="stylesheet" href="/static/plugins/leaflet-routing-machine/dist/leaflet-routing-machine.css"/>#}
    {#    <script src="/static/plugins/leaflet/leaflet.js"></script>#}
    {#    <script src="/static/plugins/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>#}
    {#    <script src="/static/plugins/leaflet-routing-machine/examples/Control.Geocoder.js"></script>#}

    
    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ pedidos_entregues|length }}</h3>

              <p>Pedidos Entregues</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ pedidos_andamento|length }}</h3>

              <p>Pedidos Em Andamento</p>
            </div>
            <div class="icon">
              <i class="ion ion-paper-airplane"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ pedidos_pendentes|length }}</h3>

              <p>Pedidos Pendentes</p>
            </div>
            <div class="icon">
              <i class="ion ion-clock"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ pedidos|length }}</h3>

              <p>Total de Pedidos</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Mapa</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                    <div id="map" style="height: 450px;"></div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="small-box bg-green">
                            <div class="inner">
                              <h3>{{ users|length }}</h3>
                
                              <p>Usuários</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-person"></i>
                            </div>
                          </div>
                    </div>
                        <div class="row">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                              <h3>{{ motoristas|length }}</h3>
                
                              <p>Motoristas</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-android-contact"></i>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                              <h3>{{ estabelecimentos|length }}</h3>
                
                              <p>Estabelecimentos</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-ios-heart"></i>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                        <div class="small-box bg-red">
                            <div class="inner">
                              <h3>{{ bd_space|floatformat:2 }} <sup style="font-size: 20px">%</sup></h3>
                
                              <p>Database</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-ios-speedometer"></i>
                            </div>
                          </div>
                        </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3>Pedidos em Andamento</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table_1" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>CRIADO EM</th>
                                        <th>N° ENTREGAS</th>
                                        <th>MOTORISTA</th>
                                        <th>LOJA</th>
                                        <th>VALOR ENTREGA</th>
                                        <th>COLETADO</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pedido in pedidos_andamento %}
                                        <tr>
                                            <td>
                                               <a href=""> {{ pedido.id }}</a>
                                            </td>
                                            <td><a href="">{{ pedido.created_at|date:"d/m/Y G:i" }}</a></td>
                                            <td>
                                               <a href=""> {{ pedido.ponto_set.all|length }} </a>
                                            </td>
                                            <td>
                                               <a data-toggle="modal" href="#modal_{{ pedido.id }}"> {{ pedido.motorista.first_name }}</a>
                                               
                                               <div class="modal fade" role="dialog" id="modal_{{ pedido.id }}">
                                                    <div class="modal-dialog">
                                                    
                                                      <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <center>  <h3>Sobre {{ pedido.motorista.first_name }}</h3></center>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="tab-content">
                                                                 <center> <div class="tab-pane active" id="about">
                                                                     {% if pedido.motorista.motorista.photo %}
                                                                     <img src="{{ pedido.motorista.motorista.photo }}"
                                                                             name="aboutme" width="140" height="140" border="0" class="img-circle">
                                                                     {% else %}
                                                                         <img src="{% static 'img/300.png' %}"
                                                                             name="aboutme" width="140" height="140" border="0" class="img-circle">
                                                                     {% endif %}
                                                                        <h3 class="media-heading">{{ pedido.motorista.first_name }}
                                                                            <small> {{ pedido.motorista.motorista.placa }}</small>
                                                                        </h3>
                                                                        <span><strong>Pedidos Entregues: {{ pedido.motorista.pedido_set.all|length }}</strong></span>
                                                                        <!--</center>-->
                                                                        <hr>
                                                                        <center>
                                                                            <p class="text-center"><strong>Telefone: </strong><br>
                                                                                {{ pedido.motorista.motorista.phone }}</p>
                                                                            <br>
                                                                        </center>
                                                                    </div></center>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 </div>
                                               
                                            </td>
                                            <td>{{ pedido.estabelecimento }}</td>
                                            <td>
                                               <a href="">R$ {{ pedido.valor_total }} </a>
                                            </td>
                                            <td>
                                                {% if pedido.coletado %}
                                                    <label class="label label-success"><i
                                                            class=""></i>
                                                        COLETADO</label>
                                                {% else %}
                                                    <label class="label label-warning"><i
                                                            class=""></i> NAO COLETADO</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3>Meus Motoristas</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table_2" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>FOTO</th>
                                        <th>ID</th>
                                        <th>MOTORISTA</th>
                                        <th>PLACA</th>
                                        <th>ONLINE</th>
                                        <th>OCUPADO</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for motorista in motoristas %}
                                        <tr>
                                            <td>
                                                {% if motorista.photo %}
                                                    <img src='{{ motorista.photo }}'class="" style="max-height: 25px; "/>
                                                {% else %}
                                                    <img src='{% static 'img/300.png' %}'class="" style="max-height: 25px; " />
                                                {% endif %}
                                            </td>
                                            <td>
                                               <a href=""> {{ motorista.id }}</a>
                                            </td>
                                            <td>
                                                <a data-toggle="modal" href="#modal_{{ motorista.id }}"> {{ motorista.user.first_name }}</a>
                                               
                                               <div class="modal fade" role="dialog" id="modal_{{ motorista.id }}">
                                                    <div class="modal-dialog">
                                                    
                                                      <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <center>  <h3>Sobre {{ motorista.user.first_name }}</h3></center>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="tab-content">
                                                                 <center> <div class="tab-pane active" id="about">
                                                                     {% if motorista.photo %}
                                                                     <img src="{{ motorista.photo }}"
                                                                             name="aboutme" width="140" height="140" border="0" class="img-circle">
                                                                     {% else %}
                                                                         <img src="{% static 'img/300.png' %}"
                                                                             name="aboutme" width="140" height="140" border="0" class="img-circle">
                                                                     {% endif %}
                                                                        <h3 class="media-heading">{{ motorista.user.first_name }}
                                                                            <small> {{ motorista.placa }}</small>
                                                                        </h3>
                                                                        <span><strong>Pedidos Entregues: {{ motorista.user.pedido_set.all|length }}</strong></span>
                                                                        <!--</center>-->
                                                                        <hr>
                                                                        <center>
                                                                            <p class="text-center"><strong>Telefone: </strong><br>
                                                                                {{ motorista.phone }}</p>
                                                                            <br>
                                                                        </center>
                                                                    </div></center>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 </div>
                                            </td>
                                            <td>{{ motorista.placa }}</td>
                                            <td>
                                               {% if motorista.is_online %}
                                                    <label class="label label-success"><i
                                                            class=""></i>
                                                        ONLINE</label>
                                                {% else %}
                                                    <label class="label label-danger"><i
                                                            class=""></i> OFFLINE</label>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if motorista.ocupado %}
                                                    <label class="label label-danger"><i
                                                            class=""></i> OCUPADO</label>
                                                {% else %}
                                                    <label class="label label-success"><i
                                                            class=""></i>
                                                        LIVRE</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-check-square-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Motoristas Online</span>
              <span class="info-box-number">{{ motoristas_online|length }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-location-arrow"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Motoristas Ocupados</span>
              <span class="info-box-number">{{ motoristas_ocupados|length }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-rocket"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Motoristas Livres</span>
              <span class="info-box-number">{{ motoristas_livres|length }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                    <div class="box-header">
                        <h3>Pedidos Pendentes</h3>
                    </div>
                    <div class="box-body">
                        <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                            <div class="row">
                              <div class="col-sm-12">
                                  <table id="table_3" class="table table-bordered table-striped" class="display"
                                           cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>CRIADO EM</th>
                                            <th>LOJA</th>
                                            <th>TELEFONE LOJA</th>
                                            <th>N° ENTREGAS</th>
                                            <th>VALOR ENTREGA</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ped in pedidos_pendentes %}
                                            <tr>
                                                <td>
                                                   {{ pedido.id }}
                                                </td>
                                                <td>
                                                    {{ pedido.created_at|date:"d/m/Y G:i" }}
                                                </td>
                                                <td>
                                                    {{ pedido.estabelecimento }}
                                                </td>
                                                <td>
                                                    {{ pedido.estabelecimento.phone }}
                                                </td>
                                                <td>
                                                   {{ pedido.ponto_set.all|length }} 
                                                </td>
                                                <td>
                                                   R$ {{ pedido.valor_total }} 
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
              </div>
          </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>
      <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="{% static 'plugins/leaflet-routing-machine/dist/leaflet-routing-machine.js' %}"></script>
    <script src="{% static 'plugins/leaflet-routing-machine/examples/Control.Geocoder.js' %}"></script>
    <script>
        var map = L.map('map').setView([-7.2428323,-35.936586], 12);
        //
        // L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        // 	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        // }).addTo(map);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiY2Fpb21hcmluaG84IiwiYSI6ImNpZ2RzdHR3cTJ2aHZ2OW04cnc5YTBiengifQ.oDcflEacffSkQxXd6RiQ2A'
        }).addTo(map);
        
        icon = L.divIcon({className: 'fa fa-street-view fa-2x bg-green'});
        icon_2 = L.divIcon({className: 'fa fa-street-view fa-2x bg-red'});
        {% for est in estabelecimentos %}
            {% if est.is_online %}
                L.marker([{{ est.lat }}, {{ est.lng }}],{icon: icon}).addTo(map);
            {% else %}
                L.marker([{{ est.lat }}, {{ est.lng }}],{icon: icon_2}).addTo(map);
            {% endif %}
        {% endfor %}
        
    
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
             $('#table_1').DataTable({
                responsive: true,
            });
            $('#table_2').DataTable({
                responsive: true,
            });
            $('#table_3').DataTable({
                responsive: true,
            });
            setInterval(function () {
                location.reload();
            }, 60000);
            $('#dashboard').addClass('active');
        });

    </script>

{% endblock %}