{% load staticfiles %}

<footer id="footer">
    <div class="container">
        <div class="col-md-4 col-md-offset-2 col-sm-6 ">
            <h4>Quem somos</h4>

            <p></p>

            <hr>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-4 col-md-offset-1 col-sm-6">

            <h4>Contato</h4>

            <p><strong>Delivery Group.</strong>
                <br>Rua Aprigio Veloso, 882, BL CN
                <br>Bairro Universitario, ZIP CODE: 58.429-900
                <br>Phone: +55 (83) 2101-1196
                <br>Paraiba, <strong>Brazil</strong>
                <br>
            </p>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
</footer>
<!-- /#footer -->


<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">&copy; 2017. Delivery </p>

            <p class="pull-right">Template by <a href="#">Caio M.</a>
            </p>

        </div>
    </div>
</div>
<!-- /#copyright -->
